.empty-avatar {
  text-align: center;
  i {
    font-size: 100px;
    color: #6c757c;
  }
}

.air-card {
  min-height: 200px;
}

.photo-collection {
  display: inline-flex;
  margin-left: -20px;
  margin-top: -20px;
  flex-wrap: wrap;

  .photo-container {
    display: inline-block;
    position: relative;
    width: 120px;
    vertical-align: top;
  }

  .member-button {
    width: 100%;
    font-weight: 600;
    margin-top: 12px;
  }

  .member-title {
    text-align: center;
    display: block;
  }

  .remove-button {
    position: absolute;
    background: #00a51d24;
    border: none;
    color: white;
    line-height: 16px;
    height: 16px;
    top: 4px;
    right: 4px;

    i {
      font-size: 16px;
    }
  }

  .remove-button:hover {
    cursor: pointer;
    background: #00a51d5e;
  }

  img, .image-placeholder {
    width: 120px;
    height: 120px;
  }

  .photo-container, .image-placeholder {
    margin-left: 20px;
    margin-top: 20px;
  }

  .image-placeholder {
    background-color: #f2f2f2;
    display: inline-block;
  }
}
