<header [isEmpty]="true"></header>
<div class="content">
  <div class="text-center">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="145px" height="130px"
         viewBox="0 0 145 130">
      <title>Message received</title>
      <path d="M130,65A65,65,0,1,0,8,96.21H122A64.7,64.7,0,0,0,130,65Z" style="fill:#e0e0e0"></path>
      <path d="M65,130a65,65,0,0,0,57-33.79H8A65,65,0,0,0,65,130Z" style="fill:#d1d1d1"></path>
      <path
        d="M23.72,90.49a3.46,3.46,0,0,1-3.42-3.24V30.94a3.52,3.52,0,0,1,3.42-3.31h80.87a3.35,3.35,0,0,1,3.23,3.31v56a3.64,3.64,0,0,1-3.59,3.6Z"
        style="fill:#fff"></path>
      <path
        d="M104.23,92H23.72a5,5,0,0,1-4.92-4.74V30.94a5,5,0,0,1,4.92-4.81h80.87a4.83,4.83,0,0,1,4.73,4.81v56A5.16,5.16,0,0,1,104.23,92ZM23.72,29.13a2,2,0,0,0-1.92,1.81V87.25A2,2,0,0,0,23.72,89h80.51a2.15,2.15,0,0,0,2.09-2.1v-56a1.84,1.84,0,0,0-1.73-1.81Z"
        style="fill:#7d7d7d"></path>
      <path d="M107.51,83.48H20.61a1,1,0,0,1,0-2h86.9a1,1,0,0,1,0,2Z" style="fill:#7d7d7d"></path>
      <rect x="26.5" y="33.82" width="75.79" height="43.74" style="fill:#c7f5ff"></rect>
      <path d="M66.14,86.35a2,2,0,1,1-2-2,2,2,0,0,1,2,2" style="fill:#b2b2b2"></path>
      <path
        d="M71.45,90.8v6.49a3.62,3.62,0,0,0,3.62,3.46l4,0c.66,0,1.22.86,1.21,1.42s-.59,1.51-1.25,1.51l-30,.11c-.66,0-1.19-.84-1.19-1.5v.06A1.4,1.4,0,0,1,49.15,101h4.52a3.34,3.34,0,0,0,3.61-3.66l-.11-6.51Z"
        style="fill:#fff"></path>
      <path
        d="M49.14,104.82a2.47,2.47,0,0,1-2.2-2.5h0A2.38,2.38,0,0,1,49.15,100h4.52a2.8,2.8,0,0,0,1.91-.62,2.7,2.7,0,0,0,.7-2l-.13-7.51h16.3v7.45a2.63,2.63,0,0,0,2.64,2.5l4,0a2,2,0,0,1,1.43.65,2.62,2.62,0,0,1,.77,1.79,2.55,2.55,0,0,1-2.25,2.49Zm-.19-2.45a.74.74,0,0,0,.26.46l29.89-.13a1.11,1.11,0,0,0,.25-.51.74.74,0,0,0-.28-.43l-4,0a4.6,4.6,0,0,1-4.62-4.46V91.8H58.19l.1,5.49a4.59,4.59,0,0,1-1.35,3.53A4.68,4.68,0,0,1,53.6,102H49.15a.61.61,0,0,0-.21.41Z"
        style="fill:#7d7d7d"></path>
      <path d="M63.08,102H52.19a1,1,0,0,1,0-2h10.9a1,1,0,0,1,0,2Z" style="fill:#7d7d7d"></path>
      <polygon points="81.1 52.29 64.39 41.99 47.69 52.29 64.53 60.66 81.1 52.29" style="fill:#6fda44"></polygon>
      <path
        d="M64.21,61.82a1,1,0,0,1-.46-.11L47.23,53.18a1,1,0,0,1-.07-1.74L63.87,41.14a1,1,0,0,1,1,0L81.62,51.44a1,1,0,0,1-.07,1.74L64.66,61.71A1,1,0,0,1,64.21,61.82Zm-14.5-9.6,14.5,7.48,14.83-7.49-14.66-9Z"
        style="fill:#b2b2b2"></path>
      <rect x="52.73" y="39.81" width="23.33" height="24.23" style="fill:#fff"></rect>
      <polygon points="81.1 69.43 47.69 69.43 47.69 52.28 64.33 60.58 81.1 52.28 81.1 69.43"
               style="fill:#b0e44f"></polygon>
      <path
        d="M81.1,70.43H47.69a1,1,0,0,1-1-1V52.28a1,1,0,0,1,1.45-.9l16.2,8.08,16.32-8.08a1,1,0,0,1,1.44.9V69.43A1,1,0,0,1,81.1,70.43Zm-32.41-2H80.1V53.89L64.78,61.47a1,1,0,0,1-.89,0L48.69,53.9Z"
        style="fill:#b2b2b2"></path>
      <path d="M72.84,50.55H56.15a1,1,0,0,1,0-2H72.84a1,1,0,0,1,0,2Z" style="fill:#d1d1d1"></path>
      <path d="M72.84,45.68H56.15a1,1,0,0,1,0-2H72.84a1,1,0,0,1,0,2Z" style="fill:#d1d1d1"></path>
      <path d="M113.42,83.69a19.58,19.58,0,1,1-19.59,19.58,19.58,19.58,0,0,1,19.59-19.58"
            style="fill:#b0e44f"></path>
      <polygon points="109.7 112.28 101.06 103.67 105.14 99.6 109.7 104.14 121.7 92.1 125.77 96.17 109.7 112.28"
               style="fill:#fff"></polygon>
    </svg>
  </div>
  <div class="row o-please-verify-heading text-center">
    <div class="col-md-12">
      <h2 class="text-muted">Verify your email to proceed</h2>
      <div class="fs-lg hidden-xs"></div>
    </div>
  </div>
  <div class="row o-signup-please-verify-email">
    <div class="m-lg-bottom center-block col-md-7 p-xs-left-right">
      <div class="text-center text-muted">
        We’ve just sent an email to your address: <span data-ng-bind="currentEmail" class="ng-binding">{{email}}</span>
      </div>
      <div class="text-center text-muted m-md-bottom">
        Please check your email and click on the link provided to verify your address.
      </div>
      <div>
        <a href="#" data-ng-click="collapse.updateEmail = !collapse.updateEmail" class="m-sm-bottom">Change
          email</a>
        <div class="m-md-left collapse" data-eo-collapse="collapse.updateEmail" style="height: 0px;">
          <form name="change_email_form"
                class="form-inline ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-server-error ng-valid-email-blacklist"
                data-ng-submit="updateEmail()" novalidate="">
            <div class="form-group m-lg-right">
              <input type="text" name="email" id="email_72416"
                     class="form-control has-form-message eo-email-ptc ng-isolate-scope ng-pristine ng-untouched ng-scope ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-server-error ng-valid-email-blacklist"
                     placeholder="Email" data-ng-model="userAccount.email" data-eo-server-error=""
                     email-blacklist-validator="" ng-required="true" ng-minlength="6" ng-maxlength="100"
                     ng-pattern="/^(([a-z\d+_\-][a-z\d+\'\._\-]*[a-z\d+_\-])|([a-z\d+_\-]{1,2}))@((([a-z\d][a-z\d\-]{0,62}[a-z\d])|([a-z\d]))\.)+[a-z]{2,}$/i"
                     required="required"><!-- ngIf: ptc -->

              <span data-ng-show="(change_email_form.email.$modelValue || change_email_form.email.$dirty)
        &amp;&amp; change_email_form.email.$invalid
            " class="o-signup-form-errors  ng-hide text-left">
        <span data-ng-messages="change_email_form.email.$error" class="ng-active">
           <label data-ng-message="required" class="form-message form-error ng-binding ng-scope">
                Email is required
            </label>
        </span>
    </span>

            </div>
            <div class="form-group o-change-email-btn">
              <button class="btn btn-default" data-ng-disabled="updatingEmail">
                <i class="glyphicon air-icon-loading m-0-left ng-hide" aria-hidden="true"
                   data-ng-show="updatingEmail"></i>
                Update &amp; Re-Send
              </button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <a href="#" data-ng-click="collapse.help = !collapse.help">I need help verifying my email</a>
        <div class="m-md-left collapse" data-eo-collapse="collapse.help" style="height: 0px;">
          <strong>Why we ask for email confirmation?</strong>
          <p class="m-sm-bottom">Email confirmation is an important security check that helps prevent other people
            from signing up for an Upwork account using your email address.</p>
          <strong>How do I confirm my email address?</strong>
          <p class="m-sm-bottom">We sent you an email with a link to click on. If you aren't able to click the
            link, copy the full URL from the email and paste it into a new web browser window.</p>
          <strong>If you haven't received the confirmation email, please:</strong>
          <p class="m-sm-bottom">
            Check the junk mail folder or spam filter in your email account.<br>
            Make sure your email address is entered correctly.
          </p>
        </div>
      </div>
      <div>
        <span aria-hidden="true"
              class="glyphicon glyphicon-sm air-icon-arrow-collapse-circle text-success m-0-left m-xs-right m-sm-bottom">
        </span>
        <a (click)="resendEmailAsync()" data-ng-click="resendingEmail || (collapse.emailResent = !collapse.emailResent)">
          Please re-send that verification email
        </a>
      </div>
    </div>
  </div>
</div>
