.content {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container .btn-link {
  margin-top: 8px;
}

.image-container {
  display: flex;
  justify-content: center;
}

sl-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.air-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 620px;
  margin-bottom: calc(100vh - 480px);
}

.actions {
  display: flex;
  margin-top: 20px;
  align-items: center;

  button {
    margin-right: 20px;
  }
}

.sl-btn.sl-btn-primary {
  width: 150px;
}
