<div class="dialog-header">
  <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
  <h3>Редактировать местоположение</h3>
</div>
<div class="dialog-content">
  <form [formGroup]="form">
    <label for="address">Адрес</label>
    <sl-select-address formControlName="address" type="text" id="address"
                       placeholder="Введите адрес"></sl-select-address>
    <div id="edit-address-map" style="height: 200px;"></div>
  </form>
  <button sl-button slType="primary" [slLoading]="isLoading" [disabled]="isLoading" (click)="submit()">
    Сохранить
  </button>
</div>
