@import "../../../styles";

.counts-list {
  display: flex;
  .counts-list-item:not(:last-child) {
    margin-right: 20px;
  }
  .counts-list-item.position {
    margin-left: auto;
  }
}

.air-card footer section {
  margin: 0;
  padding: 0 0 20px;
}

.info-section {
  margin-bottom: 10px !important;
}

h4, h5, h6 {
  line-height: 23px;
  font-size: 15px;
  font-weight: 500;
}

.m-0-top-bottom {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.air-card section:hover .o-tag-skill {
  color: #494949;
}

.air-card section:not(:last-child):hover a {
  color: #222;
}

.m-0-bottom {
  margin-bottom: 0 !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  margin: 0 0 30px;
  color: #222;
  font-family: inherit;
}

.arrow {
  vertical-align: top;
  position: relative;
  top: -5px;
}

.pull-right {
  float: right !important;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

.pagination > li {
  display: inline;
}

ol li, ul li {
  margin-bottom: 10px;
}

button:focus {
  outline: 1px dotted !important;
}

.pagination > .active > button, .pagination > .active > button:focus, .pagination > .active > button:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  padding-bottom: 4px;
  border-bottom: 4px solid $primary-color;
  color: $primary-color;
  cursor: default;
  text-decoration: none;
}

.pagination > li > a, .pagination > li > span, .pagination > li > button {
  position: relative;
  float: left;
  min-width: 30px;
  margin-left: -1px;
  padding: 8px 10px;
  line-height: 14px;
  color: #222;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  background: transparent;
  height: 30px;
  border: 0;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > button, .pagination > .disabled > button:hover, .pagination > .disabled > button:focus {
  color: #A0A0A0;
  border-color: transparent;
  cursor: not-allowed;
  text-decoration: none;
  text-shadow: none;
}

.pagination > li > button:hover, .pagination > li > button:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: $primary-dark-color;
  text-decoration: underline;
  cursor: pointer;
}

.position-icon {
  font-size: 19px;
  vertical-align: sub;
  padding-right: 5px;
}

.star-icon {
  font-size: 17px;
  color: gold !important;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  display: inline;
}

.text-muted {
  color: #656565;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: $default-color;
  background-color: $primary-dark-color;
}

.air-card > section:focus, .air-card > section:hover {
  box-shadow: none;
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
}

.air-card > section:first-child:focus, .air-card > section:first-child:hover {
  cursor: default;
}

.o-tag, .o-tag-certified, .o-tag-skill, .o-tag-tested, .tokenizer-wrapper > .tokenizer-token-list .tokenizer-token {
  background-color: #e0e0e0;
  border-radius: 4px;
  color: #222;
  font-size: 12px;
  display: inline-block;
  cursor: default;
  padding: 5px 10px;
  line-height: 1;
  margin: 10px;
}

.o-tag-skill {
  margin: 0 6px 10px 0;
}

section.air-card-hover:focus, section.air-card-hover:hover {
  box-shadow: none;
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
}

.search-container {
  display: inline-flex;
}

.search-input {
  width: 400px !important;
  border-radius: 2px 0 0 2px !important;
}

.search-btn {
  color: $default-color;
  background-color: $primary-color;
  margin-right: 0;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  padding: 5px 5px 0px;
  height: 40px;
  border-radius: 0 2px 2px 0;
}

.filter-btn {
  background-color: $default-color;
  padding: 5px 5px;
  margin-left: 30px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  span {
    padding-left: 5px;
  }
}

.filters {
  padding: 0 !important;
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
  height: 270px;
  opacity: 1;
  .btn {
    margin: 20px 0 0;
  }
  .filters-container {
    .filter-column {
      margin-top: 20px;
      display: inline-block;
      margin-right: 20px;
      label {
        margin-bottom: 10px !important;
        font-weight: 700;
        display: block;
      }
      .mat-radio-group {
        display: inline-grid;
      }
      h4 {
        margin-bottom: 15px;
      }
    }
  }
}

.filters.hidden {
  height: 0;
  opacity: 0;
}
