<!--<ng-container *ngIf="!isMobile">-->
<!--<section>-->
<!--<div class="main-container">-->
<!--<div class="landing-image"></div>-->
<!--<div class="overlay"></div>-->
<!--<h2 class="main-title">Найдите подходящего тренера <br> и запишитесь на тренировку</h2>-->
<!--<div class="search">-->
<!--<input sl-input placeholder="Тренер, Команда, Спорт, Услуга"/>-->
<!--<sl-select-address placeholder="Страна, город, адрес, метро или район"></sl-select-address>-->
<!--<button sl-button slType="primary">Найти</button>-->
<!--<button sl-button>Показать на карте</button>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--</ng-container>-->
<!--<ng-container *ngIf="isMobile">-->

<!--</ng-container>-->

<section>
  <div class="main-container">
    <div class="landing-image"></div>
    <div class="overlay"></div>
    <h2 class="main-title">Найдите подходящего тренера <br> и запишитесь на тренировку</h2>
    <div class="search">
      <form [formGroup]="form" class="search-container">
        <sl-select class="search-type-select" formControlName="searchType">
          <sl-option *ngFor="let item of searchTypes" [value]="item.value">{{item.selectLabel}}</sl-option>
        </sl-select>
        <sl-select class="search-target-select" formControlName="searchTarget">
          <sl-option *ngFor="let item of targets" [value]="item.value">{{item.selectLabel}}</sl-option>
        </sl-select>
        <sl-select class="search-sport-type-select" formControlName="searchSportType">
          <sl-option *ngFor="let item of sportTypes" [value]="item.value">{{item.selectLabel}}</sl-option>
        </sl-select>
        <input class="search-price-input" sl-input placeholder="от" formControlName="searchFromPrice"/>
        <input class="search-price-input" sl-input placeholder="до" formControlName="searchToPrice"/>
        <!--<input sl-input placeholder="Тренер, Команда, вид спорта, Услуга"/>-->
        <!--<input sl-input placeholder="Тренер, Команда, вид спорта, Услуга"/>-->
        <sl-select-address placeholder="Страна, город, адрес, метро или район"></sl-select-address>
      </form>
      <div class="search-action-container">
        <button sl-button>Показать на карте</button>
        <button sl-button slType="primary">Найти</button>
      </div>
    </div>
  </div>
</section>
