<!--<ng-container *ngIf="!isMobile">-->
  <!--<section>-->
    <!--<div class="main-container">-->
      <!--<div class="landing-image"></div>-->
      <!--<div class="overlay"></div>-->
      <!--<h2 class="main-title">Найдите подходящего тренера <br> и запишитесь на тренировку</h2>-->
      <!--<div class="search">-->
        <!--<input sl-input placeholder="Тренер, Команда, Спорт, Услуга"/>-->
        <!--<sl-select-address placeholder="Страна, город, адрес, метро или район"></sl-select-address>-->
        <!--<button sl-button slType="primary">Найти</button>-->
        <!--<button sl-button>Показать на карте</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
<!--</ng-container>-->
<!--<ng-container *ngIf="isMobile">-->

<!--</ng-container>-->

<section>
  <div class="main-container">
    <div class="landing-image"></div>
    <div class="overlay"></div>
    <h2 class="main-title">Найдите подходящего тренера <br> и запишитесь на тренировку</h2>
    <div class="search">
      <input sl-input placeholder="Тренер, Команда, Спорт, Услуга"/>
      <sl-select-address placeholder="Страна, город, адрес, метро или район"></sl-select-address>
      <button sl-button slType="primary">Найти</button>
      <button sl-button>Показать на карте</button>
    </div>
  </div>
</section>
