section {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.main-title {
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 40px;
  z-index: 1;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .5);

  /* Landscape phones and portrait tablets */
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
  }
}

// url картинки https://akspic.ru/download/19831-sportsmen-otdyx-fitness_centr-beg-zanyatie_sportom/2560x1440

.landing-image {
  /* Large desktops and laptops */
  @media screen and (min-width: 2000px) {
    background: url("../../assets/images/landing-2560.jpg") no-repeat;
    background-size: cover;
  }

  /* Large desktops and laptops */
  @media screen and (min-width: 1366px) and (max-width: 2000px) {
    background: url("../../assets/images/landing-1920.jpg") no-repeat;
    background-size: cover;
  }

  /* Portrait tablets and medium desktops */
  @media screen and (min-width: 992px) and (max-width: 1366px) {
    background: url("../../assets/images/landing-1366.jpg") no-repeat;
    background-size: cover;
  }

  /* Portrait tablets and small desktops */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    background: url("../../assets/images/landing-1080.jpg") no-repeat;
    background-size: cover;
  }

  /* Landscape phones and portrait tablets */
  @media screen and (max-width: 767px) {
    background: url("../../assets/images/landing-750.jpg") no-repeat;
    background-size: cover;
  }
  height: 100%;
  position: absolute;
  width: 100%;
}

.search {
  display: flex;
  width: 900px;
  margin: 0 auto 200px;
  z-index: 1;

  input, sl-select-address, .sl-btn-primary {
    margin-right: 10px;
  }

  input {
    width: 248px;
  }

  sl-select-address {
    width: 380px;
  }


  /* Portrait tablets and small desktops */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    width: auto;
    input {
      //width: auto;
    }

    sl-select-address {
      //width: auto;
    }
    .sl-btn-default {
      display: none;
    }
  }

  /* Landscape phones and portrait tablets */
  @media screen and (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    margin: initial;
    input {
      width: auto;
    }

    sl-select-address {
      width: auto;
    }
    sl-select-address, input, button, button.sl-btn-primary {
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.title-section {
  height: 80vh;
}

section .title {
  margin-top: 20vh;
  text-align: center;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.block {
  text-align: center;
  margin: 0 3%;
}

.big-icon {
  font-size: 10em;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Gotham Bold", Helvetica, Arial, sans-serif;
}

.carousel {
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.slides {
  margin-bottom: 0;
  list-style: none;
  width: 500%; /* Number of panes * 100% */
  overflow: hidden; /* Clear floats */
  /* Slide effect Animations*/
  -moz-animation: carousel 15s infinite;
  -webkit-animation: carousel 15s infinite;
  animation: carousel 15s infinite;
}

.slides > li {
  float: left;
  width: 20%; /* 100 / number of panes */
}

.carousel img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 46px);
  object-fit: cover;
}

.carousel h2 {
  margin-bottom: 0;
  font-size: 1em;
  padding: 1.5em 0.5em 1.5em 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

.cta-container {
  color: white;

  .cta-title {
    font-size: 56px;
    font-weight: 600;
    display: block;
  }

  .cta-descr {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 24px;
  }

  a {
    font-size: 24px;
    padding: 24px;
    width: 300px;
  }
}
