
Sportlance\.BLL/bin/

Sportlance\.BLL/obj/

Sportlance\.DAL/bin/

Sportlance\.DAL/obj/

Sportlance\.WebAPI/obj/

Sportlance\.WebAPI/bin/

\.idea/

\.vs/

Sportlance/Sportlance/obj/

Sportlance\.DAL\.Test/obj/

Sportlance\.DAL\.Test/bin/

Sportlance\.WebAPI/appsettings\.json

Sportlance\.WebAPI/appsettings\.Development\.json

Sportlance\.WebAPI/appsettings\.Production\.json

Sportlance\.WebUI/package-lock\.json

Sportlance\.MailService/bin/

Sportlance\.MailService/obj/

Sportlance\.Common/bin/

Sportlance\.Common/obj/

Sportlance\.WebUI/output/dist/

Sportlance\.WebUI/output\.zip
