
Sportlance\.BLL/bin/

Sportlance\.BLL/obj/

Sportlance\.DAL/bin/

Sportlance\.DAL/obj/

Sportlance\.WebAPI/obj/

Sportlance\.WebAPI/bin/

\.idea/

\.vs/

Sportlance/Sportlance/obj/

Sportlance\.DAL\.Test/obj/
