@import "../../../styles";

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  margin: 0 0 30px;
  color: #222;
  font-family: inherit;
  line-height: 1.3333;
}

form {
  width: 360px;
  margin: auto;
}

.title {
  padding-bottom: 24px;
  font-size: 20px;
}
