<div class="container">
  <div class="air-card col-9">
    <div class="row">
      <div>
        <img class="avatar"
             src="https://odesk-prod-portraits.s3.amazonaws.com/Users:murz1k:PortraitUrl_100?AWSAccessKeyId=AKIAIKIUKM3HBSWUGCNQ&Expires=2147483647&Signature=0vyAMpThJxkh43Kz3881vbjJjKk%3D&tFSDP"/>
      </div>
      <div>{{account.firstName}}</div>
      <div>{{account.secondName}}</div>
    </div>
  </div>
  <div class="air-card">
    <div class="air-card__title">
      Отзывы
    </div>
    <div class="air-card__content">
      reviews
    </div>
  </div>
</div>
