.menu-container {
  position: relative;
}

.menu-icon {
  position: absolute;
}

.menu-icon:active ~ .menu-list,
.menu-icon:focus ~ .menu-list,
.menu-icon:visited ~ .menu-list{
  background-color: black;
}

.menu-list {
  position: absolute;
  background-color: white;
  list-style-type: none;
  padding: 0;
  top: 24px;
  left: -70px;
  border-radius: 5px;
}

.menu-list__item {
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none
}

.menu-list__item:hover {
  background-color: #f9f9f9;
  color: #008329;
}
