<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p-autoComplete (onSelect)="submitAsync()" [(ngModel)]="sport" [suggestions]="filteredCountriesSingle" field="name" (completeMethod)="filterCountrySingle($event)" [size]="30"
                    placeholder="Найти вид спорта" [minLength]="1"></p-autoComplete>
    <span class="example-spacer"></span>
    <button (click)="loginAsync()" class="btn-link">
      Вход
    </button>
    <button (click)="registerAsync()" class="btn-link">
      Регистрация
    </button>
  </mat-toolbar-row>
</mat-toolbar>
