<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf="!isEmpty" class="container">
      <div class="row">
        <p-autoComplete (onSelect)="submitAsync()" [(ngModel)]="sport" [suggestions]="filteredCountriesSingle"
                        field="name" (completeMethod)="filterCountrySingle($event)" [size]="30"
                        placeholder="Найти вид спорта" [minLength]="1"></p-autoComplete>
        <span class="example-spacer"></span>
        <div *ngIf="!isAuth; else userExistBlock;">
          <button (click)="loginAsync()" class="btn-link">
            Вход
          </button>
          <button (click)="registerAsync()" class="btn-link">
            Регистрация
          </button>
        </div>
        <ng-template #userExistBlock>
          {{currentUser.firstName}}
          {{currentUser.lastName}}
        </ng-template>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
