<header [isEmpty]="true"></header>
<div class="content page">
  <form [formGroup]="form" class="air-card">
    <ng-container *ngIf="isLoginPage; else enterPassword">
      <div class="title">
        Войдите и начните заниматься
      </div>
      <div style="position: relative; width: 300px; margin-bottom: 24px;">
        <input sl-input id="Email" formControlName="email" name="email" type="text"
               class="login-input" placeholder="Email" (ngModelChange)="hideLoginError()"
               (keydown)="checkKeyDownLogin($event)">
        <i class="material-icons input-icon">person</i>
        <div class="error" *ngIf="showLoginError;">
          <i style="vertical-align: middle; !important;" class="material-icons">info_outline</i>
          <label *ngIf="form.value.email !== ''" class="error__message">
            Ой! Неправильный email.</label>
          <label *ngIf="form.value.email === ''" class="error__message">
            Обязательное поле.</label>
        </div>
      </div>
      <button (click)="checkLogin()"
              [disabled]="isDisabled || form.controls['email'].invalid"
              [slLoading]="isLoading"
              sl-button slType="primary">
        Продолжить
      </button>
      <div class="air-card-footer">
        <div class="line-heading text-muted">Первый раз на Sportlance?</div>
        <button (click)="navigateToRegister()" sl-button>
          Регистрация
        </button>
      </div>
    </ng-container>
    <ng-template #enterPassword>
      <ng-container *ngIf="isForgotPasswordPage">
        <ng-container *ngIf="!showCompletePasswordChange">
          <div class="title">
            Восстановление пароля
          </div>
          <div style="position: relative; width: 300px; margin-bottom: 24px;">
            <input sl-input formControlName="forgotPasswordEmail" name="email" type="text"
                   class="login-input" placeholder="Email" (ngModelChange)="hideLoginError()">
            <i class="material-icons input-icon">person</i>
            <div class="error" *ngIf="showLoginError;">
              <i style="vertical-align: middle; !important;" class="material-icons">info_outline</i>
              <label *ngIf="form.value.forgotPasswordEmail !== ''" class="error__message">
                <span class="glyphicon air-icon-exclamation-circle" aria-hidden="true"></span>
                Ой! Неправильный email.</label>
              <label *ngIf="form.value.forgotPasswordEmail === ''" class="error__message">
                <span class="glyphicon air-icon-exclamation-circle" aria-hidden="true"></span>
                Обязательное поле.</label>
            </div>
          </div>
          <button [disabled]="isDisabled || form.controls['forgotPasswordEmail'].invalid"
                  [slLoading]="isLoading"
                  (click)="forgotPassword()"
                  sl-button slType="primary">
            Восстановить
          </button>
          <button (click)="hideForgotPasswordPage()" class="btn-link">
            Я вспомнил пароль!
          </button>
        </ng-container>
        <ng-container *ngIf="showCompletePasswordChange">
          <div class="forgot-password-container">
            <div class="title">
              Проверьте свою электронную почту
            </div>
            <p>
              Мы отправили письмо на адрес электронной почты
              <strong>{{form.controls['forgotPasswordEmail'].value}}</strong>. Перейдите
              по ссылке в письме для изменения пароля.
            </p>
            <p>
              Если письма нет во входящих, то попробуйте найти его в других папках (например, «Спам», «Социальные сети»
              или другие).
            </p>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isForgotPasswordPage">
        <div class="title">
          <span>Добро пожаловать</span>
          <div *ngIf="!isForgotPasswordPage" style="font-size: 12px;">{{form.value.email}}</div>
        </div>
        <div class="form-group" style="position: relative; width: 300px; margin: 0;">
          <input sl-input id="Password" formControlName="password" name="password" type="password"
                 class="password-input" placeholder="Пароль"
                 (ngModelChange)="hidePasswordError()" (keydown)="checkKeyDownPassword($event)">
          <i class="material-icons input-icon">lock</i>
        </div>
        <div class="error" *ngIf="showPasswordError;">
          <i style="vertical-align: middle; !important;" class="material-icons">info_outline</i>
          <label class="error__message">
            Ой! Неправильный пароль.
          </label>
        </div>
        <div class="password-sub-buttons">
          <div class="checkbox">
            <mat-checkbox sl-input class="no-border" formControlName="rememberMe">
              Запомнить меня
            </mat-checkbox>
          </div>
          <button (click)="showForgotPasswordPage()" class="btn-link">
            Забыли пароль?
          </button>
        </div>
        <button (click)="login()" type="submit" [disabled]="isDisabled" sl-button slType="primary">
          Войти
        </button>
        <button (click)="hidePasswordPage()" class="btn-link">
          Это не вы?
        </button>
      </ng-container>
    </ng-template>
  </form>
</div>
<sl-footer [isEmpty]="true"></sl-footer>
