@import "../../styles";

.air-card {
  padding: 40px;
}

.width-sm {
  width: 218px !important;
  min-width: 218px !important;
  max-width: none
}

.title {
  padding-bottom: 24px;
  font-size: 20px;
}

form {
  margin-bottom: 300px;
}

.checkbox-inline label:hover, .checkbox label:hover, .radio-inline label:hover, .radio label:hover {
  color: $primary-dark-color
}

.checkbox label:hover, .radio label:hover {
  background-color: #f9f9f9;
  box-shadow: -30px 0 0 #f9f9f9
}

.checkbox label, .radio label {
  color: #222;
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  padding: 4px 3px;
  padding-left: 0;
  margin: 0 !important;
  display: block;
  font-weight: 400;
  cursor: pointer
}

.width-sm {
  width: 218px !important;
  min-width: 218px !important;
  max-width: none
}

.ng-invalid .error {
  color: #d50000 !important;
}

.error {
  text-align: left !important;
}

.error__message {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  vertical-align: middle;
  margin-bottom: 0;
}

.login-input, .password-input {
  padding-left: 44px !important;
}

.line-heading {
  overflow: hidden;
  text-align: center;
}

.line-heading:after {
  left: 10px;
  margin-right: -50%;
}

.line-heading:before {
  right: 10px;
  margin-left: -50%;
}

.line-heading:after, .line-heading:before {
  background-color: #8f8e8e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text-capitalize {
  text-transform: capitalize
}

.m-sm-top {
  margin-top: 10px !important
}

.p-0-bottom {
  padding-bottom: 0 !important
}

.p-0-top-bottom {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.text-center {
  text-align: center
}

.m-lg-bottom {
  margin-bottom: 30px !important
}

//Material spinner

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: -4px;
  height: 18px;
}

.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] {
  animation: mat-progress-spinner-linear-rotate 2s linear infinite;
}

.mat-progress-spinner {
  display: block;
  position: relative;
}

.mat-progress-spinner svg {
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  left: 0;
  transform-origin: center;
  overflow: visible;
}

.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] circle {
  /* transition-property: stroke; */
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(.35, 0, .25, 1);
  animation-iteration-count: infinite;
}

.mat-progress-spinner circle {
  fill: transparent;
  transform-origin: center;
  transition: stroke-dashoffset 225ms linear;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgba(160, 160, 160, 0.5);
}

@keyframes mat-progress-spinner-linear-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mat-progress-spinner-stroke-rotate-100 {
  0% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(0);
  }
  12.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(0);
  }
  12.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(270deg);
  }
  37.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(180deg);
  }
  62.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(90deg);
  }
  87.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
  100% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
}

