<div class="content page">

  <form [formGroup]="form" class="air-card">
    <h1>Сброс пароля</h1>
    <p>
      Надёжные пароли содержат буквы, цифры и знаки препинания.
    </p>
    <label for="newPassword">
      Введите ваш новый пароль
    </label>
    <input sl-input id="newPassword" formControlName="newPassword" type="password"/>

    <label for="confirmPassword">
      Введите ваш новый пароль ещё раз
    </label>
    <input sl-input id="confirmPassword" formControlName="confirmPassword" type="password"/>

    <div class="checkbox">
      <mat-checkbox sl-input class="no-border" formControlName="remember">
        Запомнить
      </mat-checkbox>
    </div>

    <button (click)="submit()"
            [disabled]="isDisabled || form.controls['newPassword'].invalid || form.controls['confirmPassword'].invalid"
            [isLoading]="isLoading"
            sl-button slType="primary">
      Отправить
    </button>
  </form>
</div>


