<div *ngIf="isAuthorized;" style="position: relative;">
  <div (click)="clickedInside($event)" class="profile-container">
    <div class="user-name">
      {{currentUser.firstName}}
    </div>
    <img
      [src]="currentUser.photoUrl"
      style="border-radius: 50%; -o-object-fit: cover; object-fit: cover; width: 33px; height: 33px; margin-top: 7px; margin-bottom: 7px;">
  </div>
  <ul class="menu-container" *ngIf="isOpen">
    <li class="menu-list-group">
      <a class="menu-list-item" [routerLink]="Paths.Account">Профиль</a>
    </li>
    <li class="menu-list-group">
      <a class="menu-list-item" [routerLink]="Paths.Settings">Настройки</a>
      <button (click)="logout()" class="btn-link menu-list-item" style="font-weight: bold;">
        Выйти
      </button>
    </li>
  </ul>
</div>
<div *ngIf="!isAuthorized;" style="display: flex;">
  <a class="btn-btn-link" [routerLink]="Paths.Login">Войти</a>
  <a class="btn-btn-link" [routerLink]="Paths.SignUp">Регистрация</a>
</div>
