<div class="air-card" sl-spinner [slLoading]="isLoading"
     *ngIf="authService.hasPermissions('trainer:feedback:edit:' + trainer.id) || feedbacks.length > 0"
     [class.empty]="!feedbacks.length && isLoading && authService.hasPermissions('trainer:edit:' + trainer.id)"
>
  <div class="air-card-header">
    <h3 class="pull-left">
      Отзывы
    </h3>
  </div>
  <section class="pull-left">
    <ul class="feedbacks">
      <li *ngFor="let review of feedbacks">
        <div class="row" style="padding-bottom: 1em;">
          <i *ngFor="let scoreStar of review.stars" class="material-icons star-icon">
            {{scoreStar.isFull ? 'star' : ''}}
            {{scoreStar.isEmpty ? 'star_border' : ''}}
            {{scoreStar.isHalf ? 'star_half' : ''}}
          </i>
        </div>
        <div class="row" style="padding-bottom: 1em;">
          {{review.description}}
        </div>
        <div class="row text-muted">
          {{review.clientName}} {{review.createDate | formatDate}}
        </div>
      </li>
    </ul>
  </section>
  <div class="search-results" *ngIf="!finished"
       infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="200"
       (scrolled)="onScrollDown()">
  </div>
</div>
