@import "../../styles";

.air-card .name {
  line-height: 27px;
  font-size: 21px;
  font-weight: 400;
}

.air-card .title {
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
}

.empty-avatar-lg {
  i {
    font-size: 150px;
    position: absolute;
    top: -100px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    user-select: none;
    outline: none;
    background-color: white !important;
    color: #6c757c;
  }
}

h4, h5, h6 {
  line-height: 23px;
  font-size: 15px;
  font-weight: 500;
}

.air-card section:hover .o-tag-skill {
  color: #494949;
}

.air-card section:hover a {
  color: #222;
}

.air-card:not(:last-child) {
  margin-bottom: 24px;
}

.mat-checkbox {
  display: flex;
  background-color: transparent;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  color: #222;
  font-family: inherit;
}

.pull-right {
  float: right !important;
}

.position-icon {
  font-size: 19px;
  vertical-align: sub;
  padding-right: 5px;
}

.star-icon {
  font-size: 17px;
  color: gold !important;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  display: inline;
}

.text-muted {
  color: #656565;
}

.o-tag, .o-tag-certified, .o-tag-skill, .o-tag-tested, .tokenizer-wrapper > .tokenizer-token-list .tokenizer-token {
  background-color: #e0e0e0;
  border-radius: 4px;
  color: #222;
  font-size: 12px;
  display: inline-block;
  cursor: default;
  padding: 5px 10px;
  line-height: 1;
  margin: 10px;
}

.o-tag-skill {
  margin: 0 6px 10px 0;
}

.background {
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  height: 160px;
  user-select: none;
  outline: none;
  position: relative;
  transition: .3s background-color, .3s color;
  button {
    position: absolute;
    width: 100%;
    height: 160px;
    border: none;
    color: transparent;
    background-color: transparent;
    user-select: none;
    outline: none;
  }
  img, .background-placeholder {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 160px;
    position: absolute;
    user-select: none;
    outline: none;
  }
  &:hover {
    color: white;
    background-color: #0000008a;
    cursor: pointer;
  }
}

.info-list {
  .info-list-item {
    display: inline-block;
  }
  .info-list-item:not(:last-child) {
    margin-right: 12px;
  }
}
