<div class="content page" style="display: flex;">
  <div class="main-bar">
    <div *ngIf="isTrainer" class="background">
      <img *ngIf="trainer.backgroundUrl" src="{{trainer.backgroundUrl}}">
      <div class="background-placeholder" *ngIf="!trainer.backgroundUrl">
      </div>
      <button (click)="changeBackground()">
        <i class="material-icons" style="display: inherit; font-size: 36px;">wallpaper</i>
        Изменить
      </button>
    </div>
    <div *ngIf="!isTrainer" class="background">
      <div class="background-placeholder">
      </div>
    </div>
    <div class="air-card">
      <section>
        <article class="row" style="position: relative">
          <div class="photo-input">
            <img *ngIf="account.photoUrl" src="{{account.photoUrl}}">
            <div *ngIf="!account.photoUrl" class="empty-avatar-lg" style="    position: absolute;
    bottom: 50px;">
              <i class="material-icons">account_circle</i>
            </div>
            <button (click)="changePhoto()">
              <i class="material-icons" style="display: inherit; font-size: 36px;">wallpaper</i>
              Изменить
            </button>
          </div>
          <div style="margin-left: 174px;">
            <h4 class="name">
              {{account.firstName}} {{account.secondName}}
            </h4>
            <ng-container *ngIf="isTrainer">
              <h4 class="title">{{trainer.title}}</h4>
              <div class="info-list">
                <div class="info-list-item" (click)="changePaid()">
                  <h3>{{trainer.price}}₽</h3>
                  <div class="text-muted">Часовая ставка</div>
                </div>
                <div class="info-list-item">
                  <h3>{{trainer.trainingsCount}}</h3>
                  <div class="text-muted">Проведено тренировок</div>
                </div>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="isTrainer">
            <div *ngIf="trainer.country && trainer.city" style="margin-left: auto;">
              <i class="material-icons position-icon text-muted">place</i>
              <strong>{{trainer.country}}, {{trainer.city}} </strong>
            </div>
          </ng-container>
        </article>
      </section>
      <ng-container *ngIf="isTrainer">
        <section class="pull-left" *ngIf="!trainer.about" style="position: relative;">
          <h3 style="margin-bottom:30px;"> О себе </h3>
          Расскажите о себе.
          <button (click)="changeAbout()" sl-button class="btn-rnd"
                  style="position: absolute;     right: 30px;    top: 20px;">
            <i class="material-icons" style="font-size: 20px;">create</i>
          </button>
        </section>
        <section *ngIf="trainer.about" class="pull-left" style="position: relative;">
          <h3 style="margin-bottom:30px;"> О себе </h3>
          {{trainer.about}}
          <button (click)="changeAbout()" sl-button class="btn-rnd"
                  style="position: absolute;     right: 30px;    top: 20px;">
            <i class="material-icons" style="font-size: 20px;">create</i>
          </button>
        </section>
      </ng-container>
    </div>
    <div *ngIf="isTrainer" class="air-card">
      <div class="air-card-header">
        <h3 class="pull-left">
          Навыки
        </h3>
        <button sl-button class="btn-rnd">
          <i class="material-icons">create</i>
        </button>
      </div>
      <section>
        <a class="o-tag-skill" *ngFor="let sport of trainer.sports">
          {{sport.name}}
        </a>
      </section>
    </div>
    <div *ngIf="isTrainer" class="air-card">
      <div class="air-card-header">
        <h3 class="pull-left">
          Отзывы
        </h3>
      </div>
      <section class="pull-left">
        <ul class="feedbacks">
          <li *ngFor="let review of (feedbacks| async)">
            <div class="row" style="padding-bottom: 1em;">
              <i *ngFor="let scoreStar of review.stars" class="material-icons star-icon">
                {{scoreStar.isFull ? 'star' : ''}}
                {{scoreStar.isEmpty ? 'star_border' : ''}}
                {{scoreStar.isHalf ? 'star_half' : ''}}
              </i>
            </div>
            <div class="row" style="padding-bottom: 1em;">
              {{review.description}}
            </div>
            <div class="row text-muted">
              {{review.clientName}} {{review.createDate}}
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="side-bar">
    <div class="side-bar-item">
      <a routerLink="{{'/' + Paths.Settings}}" sl-button class="btn-block">
        Настройки профиля
      </a>
      <a *ngIf="isTrainer" routerLink="{{'/' + Paths.Trainers + '/' + trainer.id}}">
        <small>Посмотреть мой профиль как видят его другие</small>
      </a>
    </div>
    <div class="side-bar-item" *ngIf="href">
      <h4>Пригласить друга</h4>
      <input sl-input disabled value="{{href}}/invite/{{account.inviteLink}}"/>
    </div>
    <div *ngIf="isTrainer" class="side-bar-item">
      <h4>Доступность</h4>
      <div [ngSwitch]="trainer.status">
        <mat-checkbox sl-input class="no-border"
                      (change)="changeStatus($event)"
                      [ngModel]="trainer.status === TrainerStatus.Available">
          <span *ngSwitchCase="TrainerStatus.Available">Доступен</span>
          <span *ngSwitchCase="TrainerStatus.NotAvailable">Недоступен</span>
        </mat-checkbox>
        <span *ngSwitchCase="TrainerStatus.Banned">Заблокирован</span>
        <span *ngSwitchCase="TrainerStatus.Deleted">Удален</span>
      </div>
    </div>
    <div *ngIf="isTrainer && clubs.length > 0" class="side-bar-item">
      <h4>Работает в</h4>
      <!-- список клубов -->
    </div>
    <div *ngIf="isTrainer && clubs.length === 0" class="side-bar-item">
      <h4>Вы нигде не работаете</h4>
      <a routerLink="{{'/' + Paths.Teams}}">
        <small>Найти клуб</small>
      </a>
    </div>
  </div>
</div>
