<div class="content page">
  <div class="main-bar">
    <div class="air-card">
      <div class="background">
        <img *ngIf="trainer.backgroundUrl" src="{{trainer.backgroundUrl}}">
        <div class="background-placeholder" *ngIf="!trainer.backgroundUrl">
        </div>
      </div>
      <section>
        <article class="row" style="position: relative">
          <div class="empty-avatar-lg" *ngIf="!trainer.photoUrl">
            <i class="material-icons">account_circle</i>
          </div>
          <div *ngIf="trainer.photoUrl" class="photo-input">
            <img src="{{trainer.photoUrl}}">
          </div>
          <div style="margin-left: 174px;">
            <h4 class="name">
              {{trainer.firstName}} {{trainer.secondName}}
            </h4>
            <h4 class="title">{{trainer.title}}</h4>
            <div class="info-list">
              <div class="info-list-item">
                <h3>{{trainer.price}}₽</h3>
                <div class="text-muted">Часовая ставка</div>
              </div>
              <div class="info-list-item">
                <h3>{{trainer.trainingsCount}}</h3>
                <div class="text-muted">Проведено тренировок</div>
              </div>
            </div>
          </div>
          <div *ngIf="trainer.country && trainer.city" style="margin-left: auto;">
            <i class="material-icons position-icon text-muted">place</i>
            <strong>{{trainer.country}}, {{trainer.city}} </strong>
          </div>
        </article>
      </section>
      <div class="air-card-header">
        <h3 class="pull-left">О себе</h3>
      </div>
      <section *ngIf="!trainer.about" class="pull-left" style="position: relative;">
        Расскажите о себе.
      </section>
      <section *ngIf="trainer.about" [class.collapsed]="!isShowAbout && trainer.about.length > 500" class="pull-left"
               style="position: relative; text-overflow: ellipsis; overflow: hidden;">
        {{trainer.about}}
      </section>
      <button *ngIf="trainer.about && trainer.about.length > 500" (click)="showAbout()" class="air-expand-btn">
        Развернуть
        <i *ngIf="!isShowAbout" class="material-icons">expand_more</i>
        <i *ngIf="isShowAbout" class="material-icons">expand_less</i>
      </button>
    </div>
    <sl-trainer-skills-collection [trainer]="trainer"></sl-trainer-skills-collection>
    <sl-trainer-work-experience [trainer]="trainer"></sl-trainer-work-experience>
    <sl-trainer-feedback [trainer]="trainer"></sl-trainer-feedback>
  </div>
  <div class="side-bar">
    <div *ngIf="teams.length > 0" class="side-bar-item">
      <h4>Работает в</h4>
      <!-- список клубов -->
    </div>
    <div class="side-bar-item">
      <button (click)="invite()" class="btn btn-link">
        Пригласить
      </button>
    </div>
  </div>
</div>
