<div class="air-card" style="margin-top: 2em;
    overflow-x: auto;">
  <div class="air-card-header">
    <h3 class="m-0-bottom pull-left">
      Услуги
    </h3>
    <button (click)="showModal()" sl-button class="btn-rnd"
            style="position: absolute;     right: 30px;    top: 20px;">
      <i class="material-icons" style="font-size: 20px;">add</i>
    </button>
    <!--<a *ngIf="!teamMembers" [routerLink]="['/trainers']" style="float: right">Найти тренеров</a>-->
  </div>
  <section class="service-collection">
    <sl-team-service-collection-item [teamId]="teamId" [service]="service" *ngFor="let service of teamServices">
    </sl-team-service-collection-item>
  </section>
</div>
