<div class="air-card" style="margin-top: 2em;
    overflow-x: auto;">
  <div class="air-card-header">
    <h3 class="m-0-bottom pull-left">
      Услуги
    </h3>
    <!--<a *ngIf="!teamMembers" [routerLink]="['/trainers']" style="float: right">Найти тренеров</a>-->
  </div>
  <section class="service-collection">
    <div class="air-card service-item" *ngFor="let service of teamServices">
      <div class="title">{{service.title}}</div>
      <p>{{service.description}}</p>
      <div class="duration">Продолжительность: <strong>{{service.period}}</strong></div>
      <div class="price">Стоимость: <strong>{{service.price}} руб.</strong></div>
      <button sl-button slType="primary">Купить</button>
      <!--<img *ngIf="teamMember.photoUrl" src="{{teamMember.photoUrl}}">-->
      <!--<div *ngIf="!teamMember.photoUrl" class="empty-avatar">-->
      <!--<i class="material-icons">account_circle</i>-->
      <!--</div>-->
      <!--<a [routerLink]="['/trainers',teamMember.id]" class="member-title">{{teamMember.firstName}}-->
      <!--{{teamMember.secondName}}</a>-->
      <!--<button sl-button slType="primary" class="member-button">-->
      <!--Записаться-->
      <!--</button>-->
    </div>
  </section>
</div>
