.service-collection {
  display: flex;
  width: max-content;

  sl-team-service-collection-item:not(:last-of-type) {
    margin-right: 24px;
  }
}

.air-card {
  min-height: 200px;
}

.empty-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  button {
    margin-top: 10px;
  }
}
