<form [formGroup]="form">
  <div class="dialog-header">
    <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
    <h3>Редактирование учетной записи</h3>
  </div>
  <div class="dialog-content">
    <label for="firstName">Имя</label>
    <input type="text" formControlName="firstName" id="firstName" name="firstName"
           sl-input placeholder="Имя" required>
    <label for="secondName">Фамилия</label>
    <input type="text" formControlName="secondName" id="secondName" name="secondName"
           sl-input placeholder="Фамилия" required>
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email" name="email"
           sl-input placeholder="Email" required>
  </div>
  <div class="dialog-footer">
    <button sl-button slType="primary" (click)="submit(true)">Сохранить</button>
    <button class="btn-link" (click)="submit(false)">Отмена</button>
  </div>
</form>
