@import "../../styles";

.menu-list {
  width: 220px;;
  display: inline-block;
  float: left;
  margin-right: 24px;
}

.nav-stacked > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #222;
  padding: 9px 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-stacked > li {
  float: none;
  margin: 0;
  width: 230px;
}

.nav > li ~ a.active {
  border-left: 4px #37A000 solid;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-stacked > li > a:hover, .nav-stacked > li > a:focus {
  color: #008329;
  background-color: #F9F9F9;
  text-decoration: underline;
}

.nav-stacked > li > a.active, .nav-stacked > li > a.active:hover, .nav-stacked > li > a.active:active, .nav-stacked > li > a.active:focus {
  background-color: #F9F9F9;
  border-left-width: 0 !important;
  color: #37A000;
  padding: 9px 20px;
  text-decoration: none;
  font-weight: 700;
}

.nav-pills > li > a.active, .nav-pills > li > a.active:hover, .nav-pills > li > a.active:focus {
  color: #37A000;
  background-color: #fff;
}

.view-container {
  width: 556px;
  display: inline-block;
}

.air-card .name {
  line-height: 27px;
  font-size: 21px;
  font-weight: 400;
}

.air-card .title {
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
}

h4, h5, h6 {
  line-height: 23px;
  font-size: 15px;
  font-weight: 500;
}

.air-card section:hover a {
  color: #222;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  color: #222;
  font-family: inherit;
}

.list-inline {
  margin-left: -5px;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.pull-right {
  float: right !important;
}

.position-icon {
  font-size: 19px;
  vertical-align: sub;
  padding-right: 5px;
}

.text-muted {
  color: #656565;
}
