<div class="skills-wrapper" (click)="focus()">
  <div class="skills-collection" *ngIf="_skills.length > 0">
    <div class="skills-collection-item" *ngFor="let skill of _skills">{{skill.name}}
      <button (click)="deleteSkill(skill)" class="delete-btn">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
  <div class="input-wrapper" *ngIf="_skills.length < 10">
    <input #input class="sl-input" placeholder="Введите навык здесь" [(ngModel)]="inputString" (keydown.enter)="onKeyEnter($event)"/>
  </div>
</div>
