$textGray: #2D2D2D;
$gray: #8B8B8B;
$borders: #D5D5D5;
$primary-color: #37a000;

.radio {
  &.inline label {
    display: inline-block;
  }

  label {
    font-family: Arial;
    line-height: 20px;
    font-size: 14px;
    color: $textGray;
    display: block;
    width: fit-content;
    cursor: pointer;

    input[type=radio] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      outline: 0;
      -webkit-appearance: none;
    }

    .sl-radio-button-circle {
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid $borders;
      box-sizing: border-box;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      transition: border-color .3s;

      .sl-radio-button-circle__inner {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 50%;
        transition: background-color .3s, left .2s, right .2s, top .2s, bottom .2s;
      }
    }

    .sl-radio-label-content {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
    }

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  label.checked {
    .sl-radio-button-circle {
      display: inline-block;
      position: relative;
      border: 1px solid $primary-color;

      .sl-radio-button-circle__inner {
        background-color: $primary-color;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
      }
    }
  }
}
