<header [isEmpty]="true"></header>
<div class="content page">
  <form [formGroup]="submitForm" class="air-card">
    <ng-container *ngIf="!showPasswordPage; else emailNotExist">
      <div class="title">
        Регистрация
      </div>
      <div class="form-group">
        <input type="text" formControlName="firstName" id="FirstName" name="FirstName"
               sl-input class="form-input" placeholder="Имя" required>
        <i class="material-icons input-icon">person</i>
        <span *ngIf="submitForm.controls.firstName.invalid
                      && (submitForm.controls.firstName.dirty || submitForm.controls.firstName.touched)"
              class="form-message form-error">
                          Имя обязательно
                      </span>
      </div>
      <div class="form-group">
        <input type="text" formControlName="lastName" id="LastName" name="LastName" placeholder="Фамилия"
               sl-input class="form-input">
        <i class="material-icons input-icon">person</i>
        <span *ngIf="submitForm.controls.lastName.invalid
                      && (submitForm.controls.lastName.dirty || submitForm.controls.lastName.touched)"
              class="form-message form-error">
                          Фамилия обязательна
                      </span>
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" sl-input class="form-input" placeholder="Email">
        <i class="material-icons input-icon">email</i>
        <span *ngIf="submitForm.controls.email.invalid
                      && (submitForm.controls.email.dirty || submitForm.controls.email.touched)"
              class="form-message form-error">
                          E-mail обязателен
                      </span>
        <label *ngIf="emailAlreadyExist" class="form-message form-error">
          Эта почта уже используется. <a routerLink="/login" style="float: right;">Хотите войти?</a>
        </label>
      </div>
      <button sl-button slType="primary" (click)="checkUserEmail()">
        Продолжить
      </button>
    </ng-container>
    <ng-template #emailNotExist>
      <div class="title">
        Регистрация
        <div style="font-size: 12px;">{{submitForm.value.email}}</div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" sl-input class="form-input"
               placeholder="Введите пароль">
        <i class="material-icons input-icon">lock</i>
      </div>
      <div class="form-group">
        <mat-checkbox sl-input class="no-border" formControlName="isAcceptTerms">
          С <a href="https://sportlance/info/terms/" target="_blank">правилами</a> сервиса согласен
        </mat-checkbox>
        <label *ngIf="showTermsError" class="form-message form-error">
          Пожалуйста, примите Правила сервиса Sportlance перед тем как продолжить
        </label>
      </div>
      <button (click)="signUp()"
              [disabled]="isLoading || submitForm.controls['password'].invalid"
              [isLoading]="isLoading"
              sl-button slType="primary">
        Продолжить
      </button>
    </ng-template>
  </form>
</div>
<sl-footer [isEmpty]="true"></sl-footer>
