<header [isEmpty]="true"></header>
<div class="content page">
  <form [formGroup]="submitForm" (ngSubmit)="signUp()">
    <div class="air-card">
      <div class="text-center" style="padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 40px;">
        <ng-container *ngIf="!isEmailExist; else emailNotExist">
          <div class="title">
            Регистрация
          </div>
          <div class="form-group" style="margin-bottom: 24px; position: relative;">
            <input type="text" formControlName="firstName" id="FirstName" name="FirstName"
                   class="form-input form-control" placeholder="Имя" required>
            <i class="material-icons input-icon">person</i>
            <span *ngIf="submitForm.controls.firstName.invalid
                      && (submitForm.controls.firstName.dirty || submitForm.controls.firstName.touched)"
                  class="form-message form-error">
                          FirstName is required
                      </span>
          </div>
          <div class="form-group" style="margin-bottom: 24px; position: relative;">
            <input type="text" formControlName="lastName" id="LastName" name="LastName" placeholder="Фамилия"
                   class="form-input form-control">
            <i class="material-icons input-icon">person</i>
            <span *ngIf="submitForm.controls.lastName.invalid
                      && (submitForm.controls.lastName.dirty || submitForm.controls.lastName.touched)"
                  class="form-message form-error">
                          LastName is required
                      </span>
          </div>
          <div class="form-group" style="margin-bottom: 24px; position: relative;">
            <input type="email" formControlName="email" class="form-input form-control" placeholder="Email">
            <i class="material-icons input-icon">email</i>
            <span *ngIf="submitForm.controls.email.invalid
                      && (submitForm.controls.email.dirty || submitForm.controls.email.touched)"
                  class="form-message form-error">
                          Email is required
                      </span>
            <label *ngIf="emailAlreadyExist" class="form-message form-error">
              Эта почта уже исползуется. <a routerLink="/login" style="float: right;">Хотите войти?</a>
            </label>
          </div>
          <button class="btn btn-primary" (click)="checkUserEmail()" style="margin: auto;">
            Продолжить
          </button>
        </ng-container>
      </div>
    </div>
    <ng-template #emailNotExist>
      <div class="title">
        Регистрация
        <div style="font-size: 12px;">{{submitForm.value.email}}</div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control form-input"
               placeholder="Введите пароль">
        <i class="material-icons input-icon">lock</i>
      </div>
      <div class="form-group">
        <div class="checkbox m-xs-bottom">
          <label>
            <div class="checkbox">
              <mat-checkbox class="form-control no-border">
                С <a href="https://www.upwork.com/info/terms/" target="_blank">правилами</a> сервиса согласен
              </mat-checkbox>
            </div>
          </label>
        </div>
        <span class="o-signup-form-errors text-left">
                          <label class="form-message form-error">
                            Пожалуйста, примите Правила сервиса Sportlance перед тем как продолжить
                          </label>
                      </span>
      </div>
      <input type="submit" class="btn btn-md btn-primary" style="margin: auto;" value="Продолжить"/>
    </ng-template>
  </form>
</div>
<app-footer [isEmpty]="true"></app-footer>
