.invite-container {
  background-color: #f2f2f2;
  min-height: 100%;
}

.invite-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 283px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(67, 67, 67, 0.66), rgba(67, 67, 67, 0.66)), url(../../assets/invite.jpg) no-repeat center;
  background-size: 100%;
  background-position-y: -35vh;
  margin-bottom: 30px;
}

.mgm-header-title_black {
  color: #f2f2f2;
}

.air-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 962px;
  margin: 42px auto;
  box-sizing: border-box;
}

.sl-btn {
  width: fit-content;
}

.title {
  padding-bottom: 24px;
  font-size: 20px;
  text-align: center;
}

.carousel__container {
  position: relative;
  box-sizing: border-box;
  max-width: 962px;
  margin: 42px auto;
}

.carousel__arrow {
  &-right {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-left {
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.carousel__sliderFrame {
  display: flex;
  width: auto;
  overflow: hidden;
}

.carousel__item__content {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;

  i {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
  }

  ul {
    grid-column: 2;
    grid-row: 1;
  }
}

.carousel__item {
  min-width: 962px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 30px;
  }

  ul {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 32px;
    list-style-type: none;

    li:before {
      content: " ";
      border-radius: 50%;
      margin-right: 16px;
      background-color: green;
      height: 8px;
      width: 8px;
      display: inline-flex;
    }
  }
}

.mgm-bonus {
  width: 100%;
  display: flex;
  border-radius: 6px;
  border: 1px solid #dddfe0;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 962px;
  margin: 42px auto;
}

.mgm-bonus__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.mgm-bonus__icon {
  display: flex;
  justify-content: center;
}

.mgm-bonus__title {
  font-family: haas, pragmatica, EllipsisFallback, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 600px) {
  .mgm-bonus {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
  }
  .mgm-bonus__text-content {
    margin: 0;
    text-align: left;
  }
  .mgm-bonus__icon {
    display: block;
  }
  .mgm-bonus__title {
    font-family: pfhighway, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 200;
  }
}

.mgm-bonus__text {
  font-size: 17px;
  line-height: 24px;
  color: #9299a2;
  padding-top: 10px;
}

.ui-icon_size_78 .ui-icon__svg:not(.ui-icon__svg_non-scaling) {
  stroke-width: 1.92307692px;
}

.ui-icon_hover_yellow:hover .ui-icon__svg, .ui-icon_yellow .ui-icon__svg {
  stroke: #fff;
}

.ui-icon__svg {
  stroke: #74a3c7;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2.6%;
  fill: transparent;
  transition: stroke .2s ease-in-out;
}

.ui-icon_hover_yellow:hover, .ui-icon_yellow {
  background-color: #37a000;
}

.ui-icon_hover_yellow:hover .ui-icon__border, .ui-icon_yellow .ui-icon__border {
  display: none;
}

.ui-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  vertical-align: middle;
}

.ui-icon_size_78 {
  width: 78px;
  height: 78px;
  line-height: 78px;
}

svg:not(:root) {
  overflow: hidden;
}

.ui-icon__svg-wrapper {
  display: block;
}

sl-footer::ng-deep .social-icons {
  max-width: 962px;
  margin: auto;
}

.form-group {
  width: 460px;
}

.form-row {
  display: flex;
  width: 460px;
  justify-content: space-between;

  .form-group {
    width: auto;
  }
}

form {
  .sl-btn {
    width: 180px;
  }
}
