<div *ngIf="isRendering; else loading" class="container">
  <div class="oSearchHeader row m-lg-top">
    <div class="col-9" style="padding-bottom: 2em;">
    <h1 class="ellipsis m-0-top-bottom">Тренеры</h1>
    </div>
    <div class="col-3" style="padding-bottom: 1em;">
      <div (click)="login()" class="btn btn-primary m-0 pull-right">
        Начни тренироваться сейчас!
      </div>
    </div>
  </div>
  <div class="air-card">
    <p-dataList [value]="trainers" [paginator]="true" [rows]="10">
      <ng-template let-trainer pTemplate="item">
        <section (click)="openProfileAsync(trainer.id)">
          <div>
            <article class="row">
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-10">
                    <div style="position: relative;">
                      <a href="/o/profiles/users/_~01f032e02bf502ada0"
                         title="{{trainer.firstName}} {{trainer.secondName}}">
                        <img
                          src="https://odesk-prod-portraits.s3.amazonaws.com/Users:svetoslav-vladim:PortraitUrl_100?AWSAccessKeyId=AKIAIKIUKM3HBSWUGCNQ&amp;Expires=2147483647&amp;Signature=QEHQgSepTHZYdyB9x%2Fe9Vk4ILdo%3D"
                          alt="Svetoslav V.'s avatar" class="avatar vertical-align-middle avatar-lg m-0">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <div style="position: relative; padding-top: 1em;">
                      <i *ngFor="let scoreStar of trainer.stars" class="material-icons star-icon">
                        {{scoreStar.isFull ? 'star' : ''}}
                        {{scoreStar.isEmpty ? 'star_border' : ''}}
                        {{scoreStar.isHalf ? 'star_half' : ''}}
                      </i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <div style="position: relative; text-align: center;">
                      <span class="text-muted">{{trainer.reviewTitle}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 p-0-left">
                <h4 class="m-0-top-bottom ellipsis">
                  <a href="/o/profiles/users/_~01f032e02bf502ada0" class="freelancer-tile-name"
                     title="{{trainer.firstName}} {{trainer.secondName}}">
                    {{trainer.firstName}} {{trainer.secondName}}
                  </a>
                </h4>
                <!--Title-->
                <div class="m-0-top-bottom">
                  <h4 class="m-0 freelancer-tile-title ellipsis">{{trainer.title}}</h4>
                </div>
                <div class="row m-sm-top m-0-bottom">
                  <div class="col-md-3 p-0-right">
                    <div><strong>{{trainer.price}}₽</strong> <!----><span class="text-muted">/ час</span><!---->
                    </div>
                  </div>
                  <div class="col-md-4 p-0-right">
                    <div>
                      <i class="material-icons position-icon text-muted">access_time</i>
                      <strong>{{trainer.trainingsCount}}</strong>
                      <!----><span class="text-muted">{{trainer.trainingsTitle}}</span><!---->
                    </div>
                  </div>
                  <div class="col-md-3 p-0-right">
                    <div><!---->
                      <div class="no-wrap freelancer-tile-location ellipsis"
                      ><i class="material-icons position-icon text-muted">place</i><strong
                        class="hidden-xs"
                        title="Bulgaria">{{trainer.country}}, {{trainer.city}} </strong>
                      </div>
                      <!----></div>
                  </div>
                </div>
                <div class="row m-sm-top m-0-bottom">
                  <div class="col-md-12">
                    <div><!----><p class="p-0-left m-0 freelancer-tile-description">
                      {{trainer.about}}</p><!----><!----></div>
                  </div>
                </div>
                <!--Skills-->
                <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self"
                                   href="/hire/swift-freelancers/">
                    <span>Swift</span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
                <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self"
                                   href="/hire/objective-c-developers/">
                    <span>Obje<em>c</em>tive-<em>C</em></span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
                <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self" href="/hire/php-developers/">
                    <span>PHP</span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
                <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self"
                                   href="/hire/cocoa-freelancers/">
                    <span>Cocoa</span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
                <a class="btn btn-link m-0 p-0" title="6 more" href="/o/profiles/users/_~01f032e02bf502ada0">6 more</a>
              </div>
              <!--Right Slot-->
            </article>
          </div>
        </section>
      </ng-template>
    </p-dataList>
    <section (click)="openProfileAsync(trainer.id)" *ngFor="let trainer of trainers">
      <div>
        <article class="row">
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-10">
                <div style="position: relative;">
                  <a href="/o/profiles/users/_~01f032e02bf502ada0" title="{{trainer.firstName}} {{trainer.secondName}}">
                    <img
                      src="https://odesk-prod-portraits.s3.amazonaws.com/Users:svetoslav-vladim:PortraitUrl_100?AWSAccessKeyId=AKIAIKIUKM3HBSWUGCNQ&amp;Expires=2147483647&amp;Signature=QEHQgSepTHZYdyB9x%2Fe9Vk4ILdo%3D"
                      alt="Svetoslav V.'s avatar" class="avatar vertical-align-middle avatar-lg m-0">
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div style="position: relative; padding-top: 1em;">
                  <i *ngFor="let scoreStar of trainer.stars" class="material-icons star-icon">
                    {{scoreStar.isFull ? 'star' : ''}}
                    {{scoreStar.isEmpty ? 'star_border' : ''}}
                    {{scoreStar.isHalf ? 'star_half' : ''}}
                  </i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div style="position: relative; text-align: center;">
                  <span class="text-muted">{{trainer.reviewTitle}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 p-0-left">
            <h4 class="m-0-top-bottom ellipsis">
              <a href="/o/profiles/users/_~01f032e02bf502ada0" class="freelancer-tile-name"
                 title="{{trainer.firstName}} {{trainer.secondName}}">
                {{trainer.firstName}} {{trainer.secondName}}
              </a>
            </h4>
            <!--Title-->
            <div class="m-0-top-bottom">
              <h4 class="m-0 freelancer-tile-title ellipsis">{{trainer.title}}</h4>
            </div>
            <div class="row m-sm-top m-0-bottom">
              <div class="col-md-3 p-0-right">
                <div><strong>{{trainer.price}}₽</strong> <!----><span class="text-muted">/ час</span><!---->
                </div>
              </div>
              <div class="col-md-4 p-0-right">
                <div>
                  <i class="material-icons position-icon text-muted">access_time</i>
                  <strong>{{trainer.trainingsCount}}</strong>
                  <!----><span class="text-muted">{{trainer.trainingsTitle}}</span><!---->
                </div>
              </div>
              <div *ngIf="trainer.country && trainer.city" class="col-md-3 p-0-right">
                <div class="no-wrap freelancer-tile-location ellipsis">
                  <i class="material-icons position-icon text-muted">place</i>
                  <strong>{{trainer.country}}, {{trainer.city}} </strong>
                </div>
              </div>
            </div>
            <div class="row m-sm-top m-0-bottom">
              <div class="col-md-12">
                <div><!----><p class="p-0-left m-0 freelancer-tile-description">
                  {{trainer.about}}</p><!----><!----></div>
              </div>
            </div>
            <!--Skills-->
            <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self"
                                   href="/hire/swift-freelancers/">
                    <span>Swift</span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
            <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self"
                                   href="/hire/objective-c-developers/">
                    <span>Obje<em>c</em>tive-<em>C</em></span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
            <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self" href="/hire/php-developers/">
                    <span>PHP</span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
            <span>
                                <a class="o-tag-skill m-sm-top m-0-bottom" target="_self"
                                   href="/hire/cocoa-freelancers/">
                    <span>Cocoa</span>
                                            <span aria-hidden="true"
                                                  class="glyphicon air-icon-complete m-xs-left m-0-right"></span>
                                    </a>
                            </span>
            <a class="btn btn-link m-0 p-0" title="6 more" href="/o/profiles/users/_~01f032e02bf502ada0">6 more</a>
          </div>
          <!--Right Slot-->
        </article>
      </div>
    </section>
    <footer>
      <section class="freelancer-search-pagination p-0-top-bottom clearfix">
        <!---->
        <div class="pull-right">
          <ul class="pagination pagination-sm m-0-top m-xs-bottom">
            <li class="pagination-prev disabled">
              <a href="" class="disabled">
                <i class="material-icons m-0-left arrow">chevron_left</i>Previous</a>
            </li>
            <li class="pagination-page active"><a href="">1</a></li>
            <!---->
            <li class="pagination-page"><a href="">2</a></li>
            <!---->
            <li class="pagination-page"><a href="">3</a></li>
            <!---->
            <li class="pagination-page"><a href="">4</a></li>
            <!---->
            <li class="pagination-page"><a href="">5</a></li>
            <li class="pagination-next">
              <a href="">Next
                <i class="material-icons m-0-right arrow">chevron_right</i>
              </a>
            </li>
          </ul>
        </div><!---->
      </section>
    </footer>
  </div>
</div>
<ng-template #loading>
  <div class="back-loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
