.side-bar-item .phone-number {
  font-size: 20px;
  float: right;
}

.photo-collection {
  .photo-row {
    img, .image-placeholder {
      width: calc(25% - 15px);
      height: 111px;
    }
    img:not(:last-child), .image-placeholder:not(:last-child) {
      margin-right: 20px;
    }
  }
  .photo-row:not(:last-child) {
    margin-bottom: 20px;
  }
  .image-placeholder {
    background-color: #f2f2f2;
    display: inline-block;
  }
}
