<a style="float: right;" [routerLink]="['create']" *ngIf="teams.length > 0">
  <i class="material-icons" style="font-size: 24px;">add</i>
</a>
<h3 style="font-size: 24px;">Мои команды</h3>
<div class="air-card">
  <section *ngIf="teams.length === 0">
    У тебя пока нет команды.
    <a [routerLink]="['create']">
      <small>Создать</small>
    </a>
    или
    <a routerLink="{{'/' + Paths.Teams}}">
      <small>Найти</small>
    </a>
  </section>
  <section *ngIf="teams.length > 0">
    <ul class="my-teams">
      <li *ngFor="let team of teams">
        <a [routerLink]="['/teams', team.id]">{{team.title}}</a>
      </li>
    </ul>
  </section>
</div>
