<div class="footer-navbar-wrapper footer-visitor" style="min-height: 119px;">
  <div *ngIf="!isEmpty; else emptyBlock;" class="content">
    <section>
      <div class="row">
        <div class="row links-section">
          <div class="col-md-4">
            <h2>Компания</h2>
            <ul class="list-unstyled m-lg-bottom">
              <li><a href="/about" target="_blank">О нас</a></li>
              <li><a href="/legal" target="_blank">Условия использования</a></li>
              <li><a href="/legal/privacy" target="_blank">Политика конфиденциальности</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>Дополнительные сервисы</h2>
            <ul class="list-unstyled m-lg-bottom">
              <li><a href="https://help.sportlance.com" target="_blank">Помощь и Тех. поддержка</a></li>
              <li><a href="https://dev.sportlance.com" target="_blank">Для разработчиков</a></li>
              <li><a href="https://job.sportlance.com" target="_blank">Работа у нас</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="social-icons-wrapper text-center">
          <h2><em>Follow us</em></h2>
          <a href="https://plus.google.com/107040851368295259701" target="_blank"
             title="Add Upwork to Google+ circles"><span
            class="glyphicon glyphicon-md air-icon-social-google-plus"></span></a>
          <a href="https://www.facebook.com/upwork" target="_blank" title="Visit Upwork on Facebook"><span
            class="glyphicon glyphicon-md air-icon-social-facebook"></span></a>
          <a href="https://www.linkedin.com/company/upwork" target="_blank"
             title="Read Upwork company news on LinkedIn"><span
            class="glyphicon glyphicon-md air-icon-social-linkedin"></span></a>
          <a href="https://twitter.com/Upwork" target="_blank" title="Follow @Upwork on Twitter"><span
            class="glyphicon glyphicon-md air-icon-social-twitter"></span></a>
          <a href="https://www.youtube.com/channel/UCvxGFOnwUBDHHcxuPqhe4CQ" target="_blank"
             title="Watch Upwork videos on YouTube"><span
            class="glyphicon glyphicon-md air-icon-social-youtube"></span></a>
        </div>
        <p class="text-center copyright">
          © {{startDate}} <span *ngIf="startDate != endDate"> - {{endDate}}</span> Sportlance
        </p>
      </div>
    </section>
  </div>
  <ng-template #emptyBlock>
    <div class="content">
      <section>
        <div class="row">
          <div class="col-md-12">
            <div class="social-icons-wrapper text-center">
              <h2><em>Follow us</em></h2>
              <a href="https://plus.google.com/107040851368295259701" target="_blank"
                 title="Add Upwork to Google+ circles"><span
                class="glyphicon glyphicon-md air-icon-social-google-plus"></span></a>
              <a href="https://www.facebook.com/upwork" target="_blank" title="Visit Upwork on Facebook"><span
                class="glyphicon glyphicon-md air-icon-social-facebook"></span></a>
              <a href="https://www.linkedin.com/company/upwork" target="_blank"
                 title="Read Upwork company news on LinkedIn"><span
                class="glyphicon glyphicon-md air-icon-social-linkedin"></span></a>
              <a href="https://twitter.com/Upwork" target="_blank" title="Follow @Upwork on Twitter"><span
                class="glyphicon glyphicon-md air-icon-social-twitter"></span></a>
              <a href="https://www.youtube.com/channel/UCvxGFOnwUBDHHcxuPqhe4CQ" target="_blank"
                 title="Watch Upwork videos on YouTube"><span
                class="glyphicon glyphicon-md air-icon-social-youtube"></span></a>
            </div>
            <p class="text-center copyright">
              © {{startDate}} <span *ngIf="startDate != endDate"> - {{endDate}}</span> Sportlance
            </p>
          </div>
        </div>
      </section>
    </div>
  </ng-template>
</div>
