@import "../../../styles";

.counts-list {
  display: flex;

  .counts-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .counts-list-item.position {
    margin-left: auto;
  }
}

.input-icon {
  top: 10px;
}

.air-card footer section {
  margin: 0;
  padding: 0 0 20px;
}

.info-container {
  h4 {
    margin: 0;
  }
}

.info-section {
  margin-bottom: 10px !important;
}

h4, h5, h6 {
  line-height: 23px;
  font-size: 15px;
  font-weight: 500;
}

.air-card section:hover .o-tag-skill {
  color: #494949;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  margin: 0 0 30px;
  color: #222;
  font-family: inherit;
}

.arrow {
  vertical-align: top;
  position: relative;
  top: -5px;
}

.pull-right {
  float: right !important;
}

ol li, ul li {
  margin-bottom: 10px;
}

button:focus {
  outline: 1px dotted !important;
}

.position-icon {
  font-size: 19px;
  vertical-align: sub;
  padding-right: 5px;
}

.star-icon {
  font-size: 17px;
  color: gold !important;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  display: inline;
}

.text-muted {
  color: #656565;
}

.air-card > section:focus, .air-card > section:hover {
  box-shadow: none;
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
}

.o-tag, .o-tag-certified, .o-tag-skill, .o-tag-tested, .tokenizer-wrapper > .tokenizer-token-list .tokenizer-token {
  background-color: #e0e0e0;
  border-radius: 4px;
  color: #222;
  font-size: 12px;
  display: inline-block;
  cursor: default;
  padding: 5px 10px;
  line-height: 1;
  margin: 10px;
}

.o-tag-skill {
  margin: 0 6px 10px 0;
}

.filters {
  padding: 0 !important;
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;

  .btn {
    margin: 20px 0 0;
  }

  .filters-container {
    .filter-column {
      margin-top: 20px;

      label {
        margin-bottom: 10px !important;
        font-weight: 700;
        display: block;
      }

      h4 {
        margin-bottom: 15px;
      }
    }
  }
}

.empty-avatar {
  i {
    font-size: 100px;
    color: #6c757c;
  }
}

.infinite-container {
  height: 40px;
  position: relative;
  margin-top: 30px;

  .sl-spinner-loading .sl-spinner-wrapper {
    background-color: transparent;
  }
}
