
.service-item {
  padding: 20px;
  width: 258px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  word-break: break-all;

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .duration strong, .price strong {
    font-size: 20px;
  }

  p {
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
  }
}
