.footer-visitor {
  background-color: #666;
}

.footer-navbar-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
}

*, :after, :before {
  box-sizing: border-box;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 0;
  color: #e0e0e0;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.footer-visitor .links-section {
  margin-top: 60px;
  margin-bottom: 70px;
}

.footer-navbar-wrapper .links-section {
  margin-top: 80px;
}

.m-lg-bottom {
  margin-bottom: 30px!important;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
ul {
  padding-left: 20px;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-navbar-wrapper .links-section li, .footer-navbar-wrapper .links-section p {
  margin: 0;
}
.footer-visitor a, .footer-visitor h2, .footer-visitor li, .footer-visitor p {
  color: #a0a0a0;
}

.footer-visitor .links-section a {
  font-weight: 300;
}
.footer-navbar-wrapper .links-section a {
  line-height: 30px;
}
.footer-visitor a, .footer-visitor h2, .footer-visitor li, .footer-visitor p {
  color: #a0a0a0;
}
.footer-navbar-wrapper a, .footer-navbar-wrapper p {
  font-family: Gotham SSm,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #656565;
}
a {
  color: #37a000;
  text-decoration: none;
  font-weight: 500;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
*, :after, :before {
  box-sizing: border-box;
}
