<div class="air-card">
  <div class="complete-container">
    <div class="title">
      Ваша заяка зарегистрирована
    </div>
    <p>
      В ближайшее время с Вами свяжется менеджер клуба
      <a [routerLink]="['/teams', team.id]">{{team.title}}</a> для уточнения дополнительной информации.
    </p>
    Спасибо что выбрали Sportlance!

    <div class="actions">
      <a [routerLink]="['/teams',team.id]" sl-button slType="primary">Вернуться на страницу клуба</a>
      <a [routerLink]="['/teams']" sl-button>Перейти к поиску</a></div>
  </div>
</div>
