<form [formGroup]="form">
  <div class="dialog-header">
    <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
    <h2>Редактирование пароля</h2>
  </div>
  <div class="dialog-content">
    <label for="oldPassword">Старый пароль</label>
    <input type="text" formControlName="oldPassword" id="oldPassword" name="oldPassword"
           class="form-input form-control" placeholder="Старый пароль" required>
    <label for="password">Пароль</label>
    <input type="text" formControlName="password" id="password" name="password"
           class="form-input form-control" placeholder="Пароль" required>
    <label for="confirmPassword">Подтверждение пароля</label>
    <input type="text" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
           class="form-input form-control" placeholder="Подтверждение пароля" required>
  </div>
  <div class="dialog-footer">
    <button class="btn btn-primary" (click)="submitAsync(true)">Сохранить</button>
    <button class="btn-link" (click)="submitAsync(false)">Отмена</button>
  </div>
</form>
