.side-bar-item .phone-number {
  font-size: 20px;
  float: right;
}

.photo-collection {
  .photo-row {
    .photo-container {
      display: inline-block;
      position: relative;
    }
    .remove-button {
      position: absolute;
      background: #00a51d24;
      border: none;
      color: white;
      line-height: 16px;
      height: 16px;
      top: 4px;
      right: 4px;
      i {
        font-size: 16px;
      }
    }
    .remove-button:hover {
      cursor: pointer;
      background: #00a51d5e;
    }
    img, .image-placeholder {
      width: 120px;
      height: 120px;
    }
    .photo-container:not(:last-child), .image-placeholder:not(:last-child) {
      margin-right: 20px;
    }
  }
  .photo-row:not(:last-child) {
    margin-bottom: 20px;
  }
  .image-placeholder {
    background-color: #f2f2f2;
    display: inline-block;
  }
}

.empty-avatar-lg {
  i {
    font-size: 150px;
    position: absolute;
    top: -75px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    user-select: none;
    outline: none;
    background-color: white !important;
    color: #6c757c;
  }
}
