<div class="dialog-header">
  <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
  <h3>Изменить фото</h3>
</div>
<div class="dialog-content">
  <form [formGroup]="form">
    <label for="name">Название</label>
    <input type="text" formControlName="name" id="name" name="name"
           sl-input placeholder="Название" required>
    <label for="description">Описание</label>
    <textarea formControlName="description" id="description" name="description"
              sl-input placeholder="Описание" required></textarea>
    <label for="duration">Длительность</label>
    <input type="text" formControlName="duration" id="duration" name="duration"
           sl-input placeholder="Описание" required>
    <label for="duration">Цена</label>
    <input type="number" formControlName="price" id="price" name="price"
           sl-input placeholder="Цена" required>
  </form>
  <sl-team-service-collection-item *ngIf="form" [service]="form.value"></sl-team-service-collection-item>
  <button [slLoading]="isLoading" [disabled]="isLoading" sl-button slType="primary" (click)="submit()">
    Сохранить
  </button>
</div>
