.dialog-content {
  display: grid;

  form {
    grid-column: 1;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  sl-team-service-collection-item {
    grid-column: 2;
  }

  input:not(:last-child) {
    margin-bottom: 16px;
  }

  label {
    display: block;
    color: #222;
    font-weight: 700;
    font-size: 13px;
    text-align: left !important;
  }
}
