@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: #f2f2f2;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: #fff;
  min-height: 55px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
  z-index: 10;
}

header a {
  text-decoration: none;
  padding-right: 1em;
  font-size: 12px;
  line-height: 12px;
  color: #666;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

header mat-toolbar {
  position: fixed;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #49b73a;
}

.back-loading {
  background-color: rgba(0, 0, 0, 0.5);
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.form-message {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  padding-left: 24px;
  margin-bottom: 10px !important;
  font-weight: 700;
  text-align: left !important;
}

.form-error.form-message {
  color: #d50000;
}

.form-control.ng-dirty.ng-invalid {
  border-color: #d50000 !important;
}

a:active, a:focus, a:hover {
  color: #008329;
  text-decoration: underline;
}

a:active, a:hover {
  outline: 0;
}

a {
  color: #37a000;
  text-decoration: none;
  font-weight: 500;
}

a {
  background: transparent;
}
