@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";

$primary-color: #37a000;
$default-color: #fff;
$primary-dark-color: #008329;
$ripple-color: rgba(55, 160, 0, .26);

$checkbox-size: 15px !important;

$footer-height: 100px;

.app-wrapper, app-login, app-signup {
  display: flex;
  flex-direction: column;
  height: 100%;
  > :not(router-outlet):not(header):not(app-footer) {
    flex: 1 0 auto;
  }
  app-footer {
    flex: 0 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: #f2f2f2;
  margin: 0;
}

.btn {
  padding: 11px 28px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  border: 2px solid transparent;
  -webkit-font-smoothing: antialiased;
  margin: 0 20px 30px 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-image: none;
  transition: all .15s;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
}

.btn-default, .btn-success, .btn-info, .btn-warning, .btn-danger {
  color: $primary-color;
  background-color: $default-color;
  border-color: transparent;
}

.btn:active, .btn:hover {
  transition: all .3s;
  outline: none;
  box-shadow: 0 2px 10px 1px rgba(57, 73, 76, .4), 0 1px 2px rgba(57, 73, 76, .25);
  border-color: transparent;
}

.btn-primary {
  color: $default-color;
  background-color: $primary-color;
  border-color: transparent;
  :hover {
    color: $default-color;
    background-color: $primary-dark-color;
    border-color: $primary-dark-color;
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: $default-color;
  background-color: $primary-color;
  border-color: $primary-color;
}

.air-card {
  position: relative;
  background-color: $default-color;
  padding: 0 30px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
}

.air-card > section {
  margin: 0 -30px;
  padding: 20px 30px;
  word-wrap: break-word;
}

.air-card footer, .air-card-header {
  margin: 0 -30px;
  padding: 20px 30px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}

.air-card-header {
  > h3 {
    display: inline-block;
  }
  > .btn-rnd {
    float: right;
    > i {
      font-size: 20px;
    }
  }
}

ul.feedbacks {
  list-style: none;
  padding: 0;
  margin: 0;
  li:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

small {
  font-size: 12px;
  font-weight: 500;
}

.dialog-close {
  float: right;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $primary-dark-color;
  user-select: none;
  outline: none !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.dialog-header {
  min-height: 60px;
  padding: 20px 30px;
  border-bottom: 1px solid #E0E0E0;
  background: #F9F9F9;
}

.dialog-content {
  padding: 20px 30px;
  ul {
    padding-left: 15px;
  }
  textarea {
    min-height: 150px !important;
  }
}

.btn-link {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $primary-color;
  text-decoration: none;
  font-weight: 500;
  outline: none;
  :hover, :active, :focus {
    text-decoration: underline;
    color: $primary-dark-color;
  }
}

.dialog-footer {
  min-height: 60px;
  padding: 20px 30px;
  border-top: 1px solid #E0E0E0;
  background: #F9F9F9;
  button {
    margin-bottom: 0;
  }
}

.air-card footer {
  border-top: 1px solid #e0e0e0;
}

.mat-checkbox-layout {
  margin-bottom: 0;
}

.mat-checkbox-layout:hover {
  background-color: #F9F9F9;
  -webkit-box-shadow: -5px 0 0 #F9F9F9;
  box-shadow: -5px 0 0 #F9F9F9;
}

.mat-checkbox-inner-container {
  width: $checkbox-size;
  height: $checkbox-size;
}

.mat-checkbox-label {
  font-size: 13px;
  color: #222;
  font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
  margin: 0 !important;
  display: block;
  font-weight: normal;
  cursor: pointer;
  padding: 4px 3px 4px 0;
  border-radius: 0 !important;
}

.mat-radio-outer-circle {
  border-width: 1px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary-color;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $primary-color;
}

.mat-checkbox-layout:hover .mat-checkbox-label {
  color: $primary-dark-color;
}

.mat-checkbox-frame {
  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  line-height: $checkbox-size;
  font-size: $checkbox-size;
  position: relative;
  top: 3px;
  background-color: $default-color;
  border: 1px solid !important;
  margin-right: 10px;
  color: #a0a0a0;
  border-color: #a0a0a0;
  border-radius: 0 !important;
}

.mat-checkbox-layout:hover .mat-checkbox-frame {
  color: $primary-dark-color;
  border-color: $primary-dark-color;
  -webkit-box-shadow: 0 0 0 1px $primary-dark-color;
  box-shadow: 0 0 0 1px $primary-dark-color;
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: $default-color;
  min-height: 55px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
  z-index: 10;
}

header a {
  text-decoration: none;
  padding-right: 1em;
  font-size: 12px;
  line-height: 12px;
  color: #666;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

header a.active, a {
  color: $primary-color;
}

header mat-toolbar {
  position: fixed;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #49b73a;
}

.back-loading {
  background-color: rgba(0, 0, 0, 0.5);
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.form-message {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  padding-left: 24px;
  margin-bottom: 10px !important;
  font-weight: 700;
  text-align: left !important;
}

.form-error.form-message {
  color: #d50000;
}

.form-control.ng-dirty.ng-invalid {
  border-color: #d50000 !important;
}

a:active, a:focus, a:hover {
  color: $primary-dark-color;
  text-decoration: underline;
}

a:active, a:hover {
  outline: 0;
}

header a, .btn-link {
  font-weight: 500;
}

header a:active, header a:focus, header a:hover,
.btn-link:active, .btn-link:focus, .btn-link:hover {
  color: $primary-color !important;
  text-decoration: none;
}

a {
  background: transparent;
}

.no-border {
  border: none !important;
}

.p-sm-bottom {
  padding-bottom: 10px !important;
}

.m-sm-top-bottom {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-sm-top {
  margin-top: 10px !important;
}

.mat-checkbox-layout {
  float: left !important;
}

.mat-checkbox {
  padding: 0;
}

.p-md-top {
  padding-top: 15px !important;
  @media (min-width: 768px) {
    padding-top: 20px !important;
  }
}

.d-md-block {
  @media (min-width: 768px) {
    display: block !important;
  }
}

.d-none {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.p-xs-top {
  padding-top: 5px !important;
}

.text-right {
  text-align: right;
}

.m-xs-top {
  margin-top: 5px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-color;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $ripple-color;
}

input.form-control, textarea.form-control, .select2-search input {
  display: block;
  width: 100%;
  min-height: 40px;
  height: 40px;
  padding: 10px 19px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #656565;
  background: $default-color none;
  font-size: 13px;
  line-height: 18px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

input.form-control:hover, textarea.form-control:hover, .select2-search input:hover, input.form-control:focus, textarea.form-control:focus, .select2-search input:focus {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-color: $primary-dark-color;
}

.content {
  width: 800px;
  margin: auto;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  color: #e0e0e0;
  width: 100px;
  height: 100px;
}

i.material-icons {
  background-color: transparent !important;
}

.page {
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn:hover, .btn:active {
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
  -webkit-box-shadow: 0 2px 10px 1px rgba(57, 73, 76, 0.4), 0 1px 2px rgba(57, 73, 76, 0.25);
  box-shadow: 0 2px 10px 1px rgba(57, 73, 76, 0.4), 0 1px 2px rgba(57, 73, 76, 0.25);
}

.btn-rnd {
  padding: 7px;
  font-size: 14px;
  line-height: 10px;
  border-radius: 50%;
  margin: 0px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: $primary-dark-color;
  background-color: $default-color;
  border-color: transparent;
}

.row {
  margin: 0;
}

