@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-color: #37a000;
$default-color: #fff;
$primary-dark-color: #008329;
$ripple-color: rgba(55, 160, 0, .26);

$checkbox-size: 15px !important;

$footer-height: 100px;

// Buttons

.sl-btn {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 2px;
  user-select: none;
  border: 2px solid transparent;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  background-image: none;
  transition: all .3s;
  outline: none;
  text-decoration: none;
  position: relative;

  &.disabled,
  &.disabled:active,
  &.disabled:hover,
  &[disabled],
  &[disabled]:active,
  &[disabled]:hover {
    color: #a0a0a0 !important;
    border-color: #e0e0e0;
    background: #e0e0e0 !important;
    text-shadow: none;
    text-decoration: none;
    outline: none !important;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none !important;

    &.sl-loading-button .sl-button-spinner circle {
      stroke: #a0a0a0;
    }
  }
}

.sl-btn-default {
  border: 1px solid #E0E0E0;
  color: $primary-color;
  background-color: $default-color;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active,
  &:not(:disabled).active {
    color: $primary-dark-color;
  }

  &.sl-loading-button circle {
    stroke: $primary-color;
  }
}

.sl-btn-primary {
  color: $default-color;
  background-color: $primary-color;
  border: 1px solid $primary-color;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active,
  &:not(:disabled).active {
    color: $default-color;
    background-color: $primary-dark-color;
    border-color: $primary-dark-color;
  }

  &.sl-loading-button circle {
    stroke: $default-color;
  }
}

a {
  color: $primary-color;

  &:not(.sl-btn):active, &:not(.sl-btn):focus, &:not(.sl-btn):hover {
    outline: 0;
    color: $primary-dark-color;
    text-decoration: underline;
  }
}

.btn-link {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  outline: none !important;
  display: block;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active,
  &:not(:disabled).active {
    text-decoration: underline;
    color: $primary-dark-color;
  }

  &.disabled,
  &.disabled:active,
  &.disabled:hover,
  &[disabled],
  &[disabled]:active,
  &[disabled]:hover {
    color: #a0a0a0 !important;
    text-shadow: none;
    text-decoration: none;
    outline: none !important;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none !important;
  }
}

.btn-rnd {
  border: none;
  box-shadow: none;
  padding: 0;
  vertical-align: top;
}

.btn-rnd:hover {
  box-shadow: none !important;
}

// Others

sl-root:not(:last-child(root:empty)) + .loading {
  display: none;
}

.hidden {
  display: none;
}

.mat-calendar-body-selected {
  background-color: $primary-dark-color;
}

.mat-ripple-element, .mat-button-focus-overlay {
  background: none !important;
}

.app-wrapper, sl-login, sl-signup, sl-email-verify, sl-invite {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f2;

  > :not(router-outlet):not(header):not(sl-footer) {
    flex: 1 0 auto;
  }

  sl-footer {
    flex: 0 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: #f2f2f2;
  margin: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.air-card {
  position: relative;
  background-color: $default-color;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);

  animation-name: fade-in;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, .2, 1);
  animation-fill-mode: forwards;

  .profiles-list-card {
    display: grid;
    grid-template-columns: 124px auto;
    border-bottom: 1px solid #cfcfcf;

    .avatar-container {
      grid-column: 1;
      padding-right: 24px;
    }

    .info-container {
      grid-column: 2;
      display: grid;

      .info-title {
        grid-row: 1;
      }

      .info-sub-title {
        grid-row: 2;
      }

      .counts-list {
        grid-row: 3;
      }

      .info-description {
        grid-row: 4;
        grid-column-end: 3;
        grid-column-start: 1;
        word-break: break-all;
      }

      .info-services {
        grid-row: 5;
      }

      .position-container {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        text-align: right;
      }
    }
  }

  section {
    padding: 24px;
    word-wrap: break-word;
  }

  .air-expand-btn {
    text-align: center;
    width: 100%;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    outline: none;
    color: $primary-color;
    font-weight: 600;

    i {
      vertical-align: middle;
    }
  }

  section.collapsed {
    height: 200px;
  }

  .air-card-header {
    padding: 24px 24px 0;
  }

  .air-card-footer {
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
    position: relative;
    padding: 24px 40px 40px;
    bottom: -40px;
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
  }
}

.air-card-header {
  > h3 {
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    margin: 0;
  }

  > .btn-rnd {
    float: right;

    > i {
      font-size: 20px;
    }
  }
}

ul.feedbacks, ul.my-teams {
  list-style: none;
  padding: 0;
  margin: 0;

  li:not(:last-child) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

.side-bar-item:not(:last-child) {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.input-icon {
  color: $primary-dark-color;
  position: absolute;
  left: 9px;
  top: 6px;
  font-size: 24px;
}

.form-input {
  border-color: #e0e0e0;
  box-shadow: none;
  padding-left: 44px !important;
}

.empty-avatar-lg {
  i {
    font-size: 150px;
    position: absolute;
    top: -100px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    user-select: none;
    outline: none;
    background-color: white !important;
    color: #6c757c;
  }
}

.photo-input {
  width: 150px;
  position: absolute;
  top: -100px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  user-select: none;
  outline: none;
  background-color: #fff;

  img {
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    color: #e0e0e0;
    width: 150px;
    height: 150px;
    position: absolute;
    user-select: none;
    outline: none;
  }

  button {
    position: absolute;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: none;
    color: transparent;
    background-color: transparent;
    user-select: none;
    outline: none;
    transition: .3s background-color, .3s color;
  }

  :hover {
    color: white;
    background-color: #0000008a;
    cursor: pointer;
  }
}

small {
  font-size: 12px;
  font-weight: 500;
}

.dialog-close {
  float: right;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $primary-dark-color;
  user-select: none;
  outline: none !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.dialog-header {
  min-height: 60px;
  padding: 24px 24px 0;
  background: #F9F9F9;

  h3 {
    margin-bottom: 0;
    font-size: 24px;
  }
}

.dialog-content {
  padding: 24px;

  ul {
    padding-left: 15px;
  }

  textarea {
    min-height: 150px !important;
  }
}

.dialog-footer {
  //min-height: 60px;
  padding: 0 24px 24px;
  background: #F9F9F9;

  button {
    margin-bottom: 0;
    margin-right: 24px;
    display: inline-flex;
  }
}

.air-card footer {
  border-top: 1px solid #e0e0e0;
}

.mat-checkbox-layout {
  margin-bottom: 0;
}

.mat-checkbox-layout:hover {
  background-color: #F9F9F9;
  box-shadow: -5px 0 0 #F9F9F9;
}

.mat-checkbox-inner-container {
  width: $checkbox-size;
  height: $checkbox-size;
}

.mat-checkbox-label {
  font-size: 13px;
  color: #222;
  font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
  margin: 0 !important;
  display: block;
  font-weight: normal;
  cursor: pointer;
  padding: 4px 3px 4px 0;
  border-radius: 0 !important;
}

.mat-checkbox-layout:hover .mat-checkbox-label {
  color: $primary-dark-color;
}

.mat-checkbox-frame {
  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  line-height: $checkbox-size;
  font-size: $checkbox-size;
  position: relative;
  top: 3px;
  background-color: $default-color;
  border: 1px solid !important;
  margin-right: 10px;
  color: #a0a0a0;
  border-color: #a0a0a0;
  border-radius: 0 !important;
}

.mat-checkbox-layout:hover .mat-checkbox-frame {
  color: $primary-dark-color;
  border-color: $primary-dark-color;
  box-shadow: 0 0 0 1px $primary-dark-color;
  transition: transform .3s, box-shadow .3s;
}

.mat-toolbar {
  animation: appear 334ms cubic-bezier(0, 0, .2, 1) .15s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mat-toolbar.mat-primary {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: $default-color;
  min-height: 46px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
  z-index: 10;
}

.back-loading {
  background-color: rgba(0, 0, 0, 0.5);
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.form-message {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  margin-bottom: 10px !important;
  font-weight: 700;
  text-align: left !important;
}

.form-error.form-message {
  color: #d50000;
}

.mat-toolbar-row {
  padding: 0 !important;
  height: 46px !important;
  background-color: #fff;
}

.sl-input.ng-dirty.ng-invalid {
  border-color: #d50000 !important;
}

.form-group {
  position: relative;
  margin-bottom: 24px;
}

header a:active, header a:focus, header a:hover,
.btn-link:active, .btn-link:focus, .btn-link:hover {
  color: $primary-color !important;
  text-decoration: none !important;
}

a {
  background: transparent;
}

.no-border {
  border: none !important;
}

.mat-checkbox-layout {
  float: left !important;
}

.mat-checkbox {
  padding: 0;
}

.p-md-top {
  padding-top: 15px !important;
  @media (min-width: 768px) {
    padding-top: 20px !important;
  }
}

.d-md-block {
  @media (min-width: 768px) {
    display: block !important;
  }
}

.d-none {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.text-right {
  text-align: right;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-color;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $ripple-color;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

input.sl-input, textarea.sl-input, .select2-search input {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 19px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #656565;
  background: $default-color none;
  font-size: 13px;
  box-sizing: border-box;
  line-height: 18px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:hover, &:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border-color: $primary-dark-color;
  }
}

.content {
  //width: 800px;
  margin: auto;
}

.main-bar {
  display: inline-block;
}

.side-bar {
  padding-left: 24px;
  float: right;
  position: sticky;
  top: 71px;
  box-sizing: border-box;
}

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
  .content {
    width: 1190px;
  }

  .main-bar {
    width: 868px;
  }

  .side-bar {
    width: 322px;
  }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .content {
    width: auto;
  }

  .main-bar {
    width: auto;
  }

  .side-bar {
    //width: 322px;
    display: none;
  }
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  color: #e0e0e0;
  width: 100px;
  height: 100px;
}

i.material-icons {
  background-color: transparent !important;
}

.page {
  margin-top: 24px;
  margin-bottom: 24px;
}

.row {
  margin: 0;
}

@keyframes tile-move {
  0%, 10% {
    transform: scaleX(0);
  }
  20%, 80% {
    transform: scaleX(1);
  }
  90%, 100% {
    transform: scaleX(0);
  }
}

.tile-placeholder {
  display: block;
  height: 143px;
  position: relative;
  padding-left: 148px !important;
}

.tile-placeholder:not(:last-child) {
  margin-bottom: 24px;
}

.tile-placeholder:before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #e0e0e0;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  box-shadow: $top $left $blur $color unquote($inset);
}

.tile-placeholder_index_1 .tile-placeholder__title {
  animation-delay: 0.5s;
}

.tile-placeholder_index_2 .tile-placeholder__title {
  animation-delay: 1s;
}

.tile-placeholder_index_3 .tile-placeholder__title {
  animation-delay: 1.5s;
}

.tile-placeholder_index_4 .tile-placeholder__title {
  animation-delay: 2s;
}

.tile-placeholder_index_5 .tile-placeholder__title {
  animation-delay: 2.5s;
}

.tile-placeholder_index_6 .tile-placeholder__title {
  animation-delay: 3s;
}

.tile-placeholder_index_7 .tile-placeholder__title {
  animation-delay: 3.5s;
}

.tile-placeholder_index_8 .tile-placeholder__title {
  animation-delay: 4s;
}

.tile-placeholder_index_9 .tile-placeholder__title {
  animation-delay: 4.5s;
}

.tile-placeholder_index_10 .tile-placeholder__title {
  animation-delay: 5s;
}

.tile-placeholder__name {
  transform-origin: left;
  background: #e0e0e0;
  animation: tile-move 5s ease-in-out alternate infinite;
  transform: scaleX(0);
  animation-delay: .3s;
  width: 200px;
  height: 18px;
}

.tile-placeholder__title {
  transform-origin: left;
  background: #e0e0e0;
  animation: tile-move 5s ease-in-out alternate infinite;
  transform: scaleX(0);
  animation-delay: .5s;
  margin-top: 8px;
  width: 400px;
  height: 18px;
}

.tile-placeholder__text {
  transform-origin: left;
  background: #e0e0e0;
  animation: tile-move 5s ease-in-out alternate infinite;
  transform: scaleX(0);
  animation-delay: .7s;
  margin-top: 13px;
  width: 540px;
  height: 18px;
}

//Spinner styles
.sl-spinner-wrapper {
  display: none;
}

.sl-spinner-loading .sl-spinner-wrapper {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: inherit;
  opacity: 0.85;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sl-spinner {
  display: block;
  position: relative;
  animation: sl-spinner-rotate 2s linear infinite;

  svg {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    transform-origin: center;
    overflow: visible;
  }

  circle {
    fill: transparent;
    transform-origin: center;
    transition: stroke-dashoffset 225ms linear;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.35, 0, .25, 1);
    animation-iteration-count: infinite;
    stroke: $primary-color;
  }
}

@keyframes sl-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Button spinner styles
.spinner-button {
  display: none;
}

.sl-loading-button .spinner-button {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: inherit;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sl-button-spinner {
  display: block;
  position: relative;
  animation: sl-button-spinner-rotate 2s linear infinite;
}

.sl-button-spinner svg {
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  left: 0;
  transform-origin: center;
  overflow: visible;
}

.sl-button-spinner circle {
  fill: transparent;
  transform-origin: center;
  transition: stroke-dashoffset 225ms linear;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(.35, 0, .25, 1);
  animation-iteration-count: infinite;
  stroke: #a7a7a7;
}

@keyframes sl-button-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mat-progress-spinner-linear-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mat-progress-spinner-stroke-rotate-100 {
  0% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(0);
  }
  12.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(0);
  }
  12.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(270deg);
  }
  37.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(180deg);
  }
  62.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(90deg);
  }
  87.5001% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
  100% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
}

[class*='suggest-item'] {
  [class*='search__suggest-item'] {
    color: #2D2D2D;
    font-size: 13px;
    padding: 10px 19px;
    line-height: 18px;
    min-height: 40px;
    box-sizing: border-box;
    transition: .2s background-color, .2s color;

    &[class*='search__suggest-item_selected_yes'] {
      background-color: #f6f6f6;
    }
  }
}

[class*='-custom-scroll'][class*='search__suggest'] {
  top: -2px;
  right: 0;
  left: 0;
}


