@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

$primary-color: #37a000;

body {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: #f2f2f2;
  margin: 0;
}

$checkbox-size: 15px !important;

.mat-checkbox-layout {
  margin-bottom: 0;
}

.mat-checkbox-layout:hover {
  background-color: #F9F9F9;
  -webkit-box-shadow: -5px 0 0 #F9F9F9;
  box-shadow: -5px 0 0 #F9F9F9;
}

.mat-checkbox-inner-container {
  width: $checkbox-size;
  height: $checkbox-size;
}

.mat-checkbox-label {
  font-size: 13px;
  color: #222;
  font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
  margin: 0 !important;
  display: block;
  font-weight: normal;
  cursor: pointer;
  padding: 4px 3px 4px 0;
  border-radius: 0 !important;
}

.mat-checkbox-layout:hover .mat-checkbox-label {
  color: #008329;
}

.mat-checkbox-frame {
  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  line-height: $checkbox-size;
  font-size: $checkbox-size;
  position: relative;
  top: 3px;
  background-color: #fff;
  border: 1px solid !important;
  margin-right: 10px;
  color: #a0a0a0;
  border-color: #a0a0a0;
  border-radius: 0 !important;
}

.mat-checkbox-layout:hover .mat-checkbox-frame {
  color: #008329;
  border-color: #008329;
  -webkit-box-shadow: 0 0 0 1px #008329;
  box-shadow: 0 0 0 1px #008329;
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  font-family: Gotham SSm, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #222;
  background-color: #fff;
  min-height: 55px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
  z-index: 10;
}

header a {
  text-decoration: none;
  padding-right: 1em;
  font-size: 12px;
  line-height: 12px;
  color: #666;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

header a.active, a {
  color: $primary-color;
}

header mat-toolbar {
  position: fixed;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #49b73a;
}

.back-loading {
  background-color: rgba(0, 0, 0, 0.5);
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.form-message {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  padding-left: 24px;
  margin-bottom: 10px !important;
  font-weight: 700;
  text-align: left !important;
}

.form-error.form-message {
  color: #d50000;
}

.form-control.ng-dirty.ng-invalid {
  border-color: #d50000 !important;
}

a:active, a:focus, a:hover {
  color: #008329;
  text-decoration: underline;
}

a:active, a:hover {
  outline: 0;
}

header a, .btn-link {
  font-weight: 500;
}

header a:active, header a:focus, header a:hover,
.btn-link:active, .btn-link:focus, .btn-link:hover {
  color: $primary-color !important;
  text-decoration: none;
}

a {
  background: transparent;
}

.container {
  padding: 5em 5%;
}

.no-border {
  border: none !important;
}

.p-sm-bottom {
  padding-bottom: 10px !important;
}

.m-sm-top-bottom {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-sm-top {
  margin-top: 10px !important;
}

.mat-checkbox-layout {
  float: left !important;
}

.mat-checkbox {
  padding: 0;
}

.p-md-top {
  padding-top: 15px !important;
  @media (min-width: 768px) {
    padding-top: 20px !important;
  }
}

.d-md-block {
  @media (min-width: 768px) {
    display: block !important;
  }
}

.d-none {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.p-xs-top {
  padding-top: 5px !important;
}

.text-right {
  text-align: right;
}

.m-xs-top {
  margin-top: 5px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-color;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(55, 160, 0, .26);
}

input.form-control, textarea.form-control, .select2-search input {
  display: block;
  width: 100%;
  min-height: 40px;
  height: 40px;
  padding: 10px 19px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #656565;
  background: #fff none;
  font-size: 13px;
  line-height: 18px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

input.form-control:hover, textarea.form-control:hover, .select2-search input:hover, input.form-control:focus, textarea.form-control:focus, .select2-search input:focus {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-color: #008329;
}

.content {
  width: 800px;
  margin: 30px auto;
}

.btn:hover {
  background-color: #008329 !important;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

