<div class="content page">
  <div class="main-bar">
    <div class="air-card">
      <div class="background">
        <img *ngIf="team.backgroundUrl" src="{{team.backgroundUrl}}">
        <div *ngIf="!team.backgroundUrl" class="background-placeholder">
        </div>
        <button (click)="changeBackground()" *ngIf="authService.hasPermissions('teams:photo:edit:' + team.id)">
          <i class="material-icons" style="display: inherit; font-size: 36px;">wallpaper</i>
          Изменить
        </button>
      </div>
      <section>
        <article class="row" style="position: relative">
          <div class="empty-avatar-lg" *ngIf="!team.photoUrl">
            <i class="material-icons">account_circle</i>
          </div>
          <div class="photo-input">
            <img *ngIf="team.photoUrl" src="{{team.photoUrl}}">
            <div *ngIf="!team.photoUrl" class="empty-avatar-lg" style="    position: absolute;
    bottom: 50px;">
              <i class="material-icons">account_circle</i>
            </div>
            <button (click)="changePhoto()" *ngIf="authService.hasPermissions('teams:photo:edit:' + team.id)">
              <i class="material-icons" style="display:  inherit;font-size:  36px;">wallpaper</i>
              Изменить
            </button>
          </div>
          <div style="margin-left: 175px; display: grid;">
            <h4 class="name" style="grid-row: 1; grid-column: 1;">
              {{team.title}}
            </h4>
            <h4 class="title" style="grid-row: 2; grid-column: 1;">{{team.subTitle}}</h4>
            <ul class="list-inline m-0-bottom" style="grid-row: 3; grid-column: 1;">
              <!--<li (click)="changePaid()">-->
              <!--<h3 class="m-xs-bottom ng-binding">{{trainer.price}}₽</h3>-->
              <!--<div class="text-muted ng-binding">Часовая ставка</div>-->
              <!--</li>-->
              <!--<li>-->
              <!--<h3 class="m-xs-bottom ng-binding">{{trainer.trainingsCount}}</h3>-->
              <!--<div class="text-muted ng-binding">Проведено тренировок</div>-->
              <!--</li>-->
            </ul>
            <div *ngIf="team.country && team.city" style="grid-row: 1; grid-column: 2; margin-left: auto;">
              <i class="material-icons position-icon text-muted">place</i>
              <strong class="hidden-xs" title="Bulgaria">{{team.country}}, {{team.city}} </strong>
            </div>
          </div>
        </article>
      </section>
      <div class="air-card-header">
        <h3 class="pull-left">О нас</h3>
        <button (click)="changeAbout()" sl-button class="btn-rnd"
                *ngIf="authService.hasPermissions('teams:photo:edit:' + team.id)"
                style="position: absolute;     right: 30px;    top: 20px;">
          <i class="material-icons" style="font-size: 20px;">create</i>
        </button>
      </div>
      <section *ngIf="!team.about" class="pull-left" style="position: relative;">
        Расскажите о себе.
      </section>
      <section *ngIf="team.about" [class.collapsed]="!isShowAbout && team.about.length > 500" class="pull-left"
               style="position: relative; text-overflow: ellipsis; overflow: hidden;">
        {{team.about}}
      </section>
      <button *ngIf="team.about.length > 500" (click)="showAbout()" class="air-expand-btn">
        Развернуть
        <i *ngIf="!isShowAbout" class="material-icons">expand_more</i>
        <i *ngIf="isShowAbout" class="material-icons">expand_less</i>
      </button>
    </div>
    <sl-team-photo-collection [team]="team"></sl-team-photo-collection>
    <sl-team-members-collection [team]="team"></sl-team-members-collection>
    <sl-team-service-collection [team]="team"></sl-team-service-collection>
    <sl-team-location [team]="team"></sl-team-location>
  </div>
  <div class="side-bar">
    <div *ngIf="team.phoneNumber" class="side-bar-item">
      <a class="phone-number" href="tel:{{team.phoneNumber}}">
        {{team.phoneNumber | phoneMask}}
      </a>
    </div>
  </div>
</div>
