$textGray: #2D2D2D;
$gray: #8B8B8B;
$borders: #D5D5D5;

input {
  height: 50px;
  cursor: pointer;
}

input:disabled {
  background: $borders;
  z-index: 0;
  cursor: no-drop;
}

input:disabled + .scroll-arrow {
  z-index: 0;
  cursor: no-drop;
  i {
    background-color: $gray;
  }
}

.show-list {
  .scroll {
    z-index: 1;
    transition: z-index 0s;
  }
  .scroll-wrapper {
    input {
      //border-radius: 3px 3px 0 0;
      border-color: #fff;
      transition-delay: .2s;
      transition: border-color .1s;
    }
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
  }
}

.scroll-arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: transform 300ms ease-out;
  cursor: pointer;
  i {
    width: 10px;
    height: 10px;
    background-color: #666;
  }
}

.scroll-arrow.up {
  transform: rotate(180deg);
}

.scroll {
  position: absolute;
  width: 100%;
  z-index: 0;
  transition: z-index 1s;
}

.selected-item {
  border: 1px solid #E0E0E0;
  border-radius: inherit;
  height: 40px;
  cursor: pointer;
  background: transparent;
  font-size: 13px;
  padding: 10px 19px;
  color: #2D2D2D;
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  transition: border-color .3s;
  user-select: none;
  outline: none;
  transition-delay: 0.3s;
}

.scroll-wrapper {
  transition: height .5s, box-shadow .5s;
  background-color: white;
  overflow: hidden;
  border-radius: 2px;
}

.scroll-container {
  top: 0;
  width: 100%;
  z-index: 2;
}

ul {
  background: white;
  list-style-type: none;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
  width: 100%;
  top: 50px;
  border-radius: 0 0 3px 3px;
  transition: height .5s;
  li {
    color: $textGray;
    font-size: 13px;
    padding: 10px 19px;
    line-height: 18px;
    min-height: 40px;
    box-sizing: border-box;
    transition: .2s background-color, .2s color;
  }
  li:hover {
    background-color: #f6f6f6;
    cursor: pointer;
    //color: $hotPink;
  }
}

.show-scroll {
  overflow-y: auto;
}
