<div [class.show-list]="showList" style="height: 50px; position: relative;">
  <div class="scroll">
    <div class="scroll-wrapper" style="height: 50px;" [style.height.px]="scrollHeight">
      <input [disabled]="disabled" [placeholder]="placeHolder" class="selected-item" readonly type="text"
             (click)="clickedInside($event)"
             [ngModel]="_selectedItem.label"/>
      <span class="scroll-arrow" [class.up]="showList">
        <i class="wb-icons wb-arrow-down"></i>
      </span>
      <div class="scroll-container">
        <ul [style.height.px]="listHeight" #items [class.show-scroll]="_items.length > 10" #items>
          <li *ngFor="let item of _items" (click)="selectValue(item.value, $event)">{{item.label}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
