<section style="background-color:red;">

</section>
<section style="background-color:yellow;">

</section>
<section class="title-section">
  <div class="content text-center">
    <h2 class="title">Как это работает</h2>
    <div style="padding-top: 2vh;" class="row block-container">
      <div class="col-sm-4 col-lg-3 col-lg-offset-0 col-sm-offset-2 block">
        <i class="material-icons big-icon">supervisor_account</i>
        <article class="text-block">
          <h3>НАЙМИ</h3>
          <p>Просмотрите профили и отзывы, а затем опросите лучших кандидатов. Выберете лучшего и начните тренироваться.</p>            </article>
      </div>
      <div class="col-sm-4 col-lg-3 col-lg-offset-0 col-sm-offset-1 block">
        <i class="material-icons big-icon">fitness_center</i>
        <article class="text-block">
          <h3>ТРЕНЕРУЙСЯ</h3>
          <p>Используйте платформу Sportlance для общения, обмена файлами и совместной работы со своего компьютера.</p>
        </article>
      </div>
      <div class="col-sm-4 col-lg-3 col-lg-offset-0 col-sm-offset-2 block">
        <i class="material-icons big-icon">payment</i>
        <article class="text-block">
          <h3>
            ЗАПЛАТИ
          </h3>
          <p>Выставление счетов и платежей происходит через Sportlance. С защитой от увольнения платите только за проведенные тренировки.</p>            </article>
      </div>
    </div>

  </div>
</section>
<section style="background-color:green;">

</section>
