<div class="content">
  <form [formGroup]="form">
    <h3>Создание клуба</h3>
    <div class="air-card">
      <section class="air-card-content">
        <label for="title">Название</label>
        <input type="text" formControlName="title" id="title" name="title"
               class="form-control" placeholder="Название" required>
        <label for="subtitle">Тип команды</label>
        <input type="text" formControlName="subtitle" id="subtitle" name="subtitle"
               class="form-control" placeholder="Фитнес-клуб, ФОК и т.д." required>
        <label for="phoneNumber">Контактный телефон</label>
        <input type="text" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber"
               appPhoneMask
               class="form-control" placeholder="Контактный телефон" required>
        <label for="country">Страна</label>
        <input type="text" formControlName="country" id="country" name="country"
               class="form-control" placeholder="Страна" required>
        <label for="city">Город</label>
        <input type="text" formControlName="city" id="city" name="city"
               class="form-control" placeholder="Город" required>
        <label for="about">О клубе</label>
        <input type="text" formControlName="about" id="about" name="about"
               class="form-control" placeholder="О клубе">
        <button class="btn btn-primary" (click)="submit()">Сохранить</button>
      </section>
    </div>
  </form>
</div>
