@import '../../../styles';

:host {
  display: grid;
  height: 46px;
}

.btn-link {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  cursor: pointer;
  font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  list-style: none outside none;
  padding: 0 20px;
  text-align: left;
  text-decoration-color: rgb(102, 102, 102);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none !important;
}

.medium-icon {
  width: 36px;
  height: 36px;
  position: relative;
  background-size: cover;
  display: inline-block;
  background-color: #666;
  -webkit-mask-size: 36px;
}

a, .btn-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  color: #666 !important;
  align-items: center;
  font-weight: bold;
  display: inline-flex;
  vertical-align: top;
}

a:not(:last-child) {
  padding-right: 32px;
}

a.active, a {
  color: #37a000;
}

mat-toolbar {
  position: fixed;
}

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
  .nav, .content {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .nav, .content {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .nav, sl-menu {
    display: none;
  }
  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .nav, sl-menu {
    display: none;
  }
  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.icon__logo:active, .icon__logo:focus, .icon__logo:hover {
  background-color: $primary-color !important;
}

.menu-btn {
  margin-right: 10px;
}

.sandwich {
  height: 15px;
  width: 60px;
  outline: none;
  display: flex;
  justify-content: center;
  position: relative;
  align-self: center;

  &.close {
    .one {
      transform: translateY(6px) rotate(45deg);
    }

    .two {
      opacity: 0;
      transform: scale(0);
    }

    .three {
      transform: translateY(-6px) rotate(-45deg);
    }

    .one, .three {
      background-color: #fff;
    }
  }

  .one, .two, .three {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #475258;
    border-radius: 1px;
    transition-duration: .3s;
    transition-property: transform, opacity;
  }

  .one {
    top: 0;
  }

  .two {
    top: 6px;
  }

  .three {
    top: 12px;
  }
}

.small-icon {
  width: 24px;
  -webkit-mask-size: 24px;
  height: 24px;
  background-color: #666;
}

.mat-toolbar.mat-primary {
  &.active {
    background-color: #666;
    transition: background-color .5s, box-shadow .5s;
    box-shadow: none;

    .mat-toolbar-row {
      background-color: #666;
      transition: background-color .5s;
    }
  }

  ::ng-deep .sandwich.mobile-close-button {
    display: flex;
    justify-content: center;
    color: #fff;
    position: absolute;
    right: 0;
  }
}

.mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: transparent;
  transition: background-color .5s, z-index .5s;

  &.active {
    background-color: #666;
    z-index: 1;
    transition: background-color .5s, z-index 0s;
  }

  hr {
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 0 0 0.2px rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
  }

  .mobile-menu-item {
    display: flex;

    a {
      line-height: 33px;
      width: 100%;
      padding-left: 13px;
      color: #fff !important;
      font-size: 18px;
    }
  }
}
