@import '../../../styles';

:host {
  display: grid;
  height: 46px;
}

.btn-link {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  cursor: pointer;
  font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  list-style: none outside none;
  padding: 0 20px;
  text-align: left;
  text-decoration-color: rgb(102, 102, 102);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none !important;
}

.medium-icon {
  width: 36px;
  height: 36px;
  position: relative;
  background-size: cover;
  display: inline-block;
  background-color: #666;
  -webkit-mask-size: 36px;
}

a, .btn-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  color: #666 !important;
  align-items: center;
  font-weight: bold;
  display: inline-flex;
  vertical-align: top;
}

a:not(:last-child) {
  padding-right: 32px;
}

a.active, a {
  color: #37a000;
}

mat-toolbar {
  position: fixed;
}

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
  .nav, .content {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .nav, .content {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .nav, sl-menu {
    display: none;
  }
  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
  .nav, sl-menu {
    display: none;
  }
  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.icon__logo:active, .icon__logo:focus, .icon__logo:hover {
  background-color: $primary-color !important;
}

.menu-btn {
  margin-right: 10px;
}
