<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="content">
      <div style="display: flex;
    justify-content: space-between;">
        <ng-container *ngIf="!isEmpty">
          <div class="nav">
            <a [routerLink]="'/'"><i class="medium-icon icon__logo"></i></a>
            <a routerLink="/{{Paths.Trainers}}" routerLinkActive="active">Тренеры</a>
            <a routerLink="/{{Paths.Teams}}" routerLinkActive="active">Команды</a>
          </div>
          <sl-menu></sl-menu>
        </ng-container>
        <ng-container *ngIf="isEmpty">
          <div>
            <a [routerLink]="'/'"><i class="medium-icon icon__logo"></i></a>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
