<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="content">
      <div style="display: flex;
    padding-left: 10px;">
        <a [routerLink]="'/'"><i class="medium-icon icon__logo"></i></a>
        <ng-container *ngIf="!isEmpty">
          <div class="nav">
            <a routerLink="/{{Paths.Trainers}}" routerLinkActive="active">Тренеры</a>
            <a routerLink="/{{Paths.Teams}}" routerLinkActive="active">Команды</a>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!isEmpty">
        <sl-menu></sl-menu>
        <button class="menu-btn btn-link"><i class="material-icons">menu</i></button>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
