.air-card {
  min-height: 400px;
}

section {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 20px;

  label {
    grid-column: 1;
  }

  input {
    grid-column: 2;
  }

  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}

h1 {
  margin-bottom: 24px;
}

.action-container {
  display: grid;
  grid-template-columns: 320px max-content;
  padding: 0 24px 20px;

  button {
    margin-right: 20px;
    grid-row: 1;
    width: max-content;

    &:nth-child(1) {
      grid-column: 2;
    }

    &:nth-child(2) {
      grid-column: 3;
    }
  }
}
